<% if ENV["ANNOUNCEMENT_BANNER"].to_s == "true"%>
  <div id="announcements_text_div" data-alert class="alert-box info radius">
    <div class="darkblue-href"><%=ENV["ANNOUNCEMENT_TEXT"].html_safe%></div>
    <a href="#" class="close">&times;</a>
  </div>
<%end%>
<div class="announcement_banner">
  <div class="announcement_banner_content">

    <div class="announcement_info">
      <h3>Adoptable Cookbooks List</h3>

      <p>
        Looking for a cookbook to adopt?  You can now see a list of cookbooks available for adoption!
        <br />
        <%= link_to 'List of Adoptable Cookbooks', available_for_adoption_path %>
      </p>
    </div>

    <div class="announcement_info">
      <h3>Supermarket Belongs to the Community</h3>

      <p>Supermarket belongs to the community. While Chef has the responsibility to keep it running and be stewards of its functionality, what it does and how it works is driven by the community. The <a href="https://github.com/chef/supermarket">chef/supermarket</a> repository will continue to be where development of the Supermarket application takes place. Come be part of shaping the direction of Supermarket by opening issues and pull requests or by joining us on the <a href="https://discourse.chef.io/">Chef Mailing List</a>.</p>
    </div>

    <div class="announcement_info">
      <h3><%= link_to "View our collection of guides, documentation, and articles", documentation_path %></h3>
    </div>
  </div>
</div>
