<div class="main" data-equalizer-watch>
  <h1 class="heading">
    <%= tool.name %>
    <small><%= tool.type.titleize %></small>
  </h1>

  <% if tool.instructions.present? %>
    <pre class="install"><%= tool.instructions %></pre>
  <% end %>

  <%= simple_format tool.description %>
</div>
