<div class="main" data-equalizer-watch>
  <h1 class="heading">
    <%= tool.name %>
    <small><%= tool.type.titleize %></small>
  </h1>

  <%= auto_link(simple_format(tool.description)) %>

  <% if tool.instructions.present? %>
    <h3>Install & Usage Instructions</h3>
    <%= render_markdown tool.instructions %>
  <% end %>
</div>
