<div class="main" data-equalizer-watch>
  <h1 class="heading">
    <%= tool.name %>
  </h1>

  <%= tool.type %>

  <pre class="install"><%= tool.instructions %></pre>

  <p><%= tool.description %></p>
</div>
