<div class="main" data-equalizer-watch>
  <h1 class="heading">
    <%= tool.name %>
    <small><%= tool.type.titleize %></small>
  </h1>

  <pre class="install"><%= tool.instructions %></pre>

  <p><%= tool.description %></p>
</div>
