<%= provide(:title, @tool.name) %>
<%= provide(:description, @tool.name) %>

<div class="page resource tool_show" data-equalizer>
  <%= render 'main', tool: @tool %>
  <%= render 'sidebar', tool: @tool, collaborators: @collaborators, other_tools: @other_tools %>
</div>
