<li itemscope itemtype="http://schema.org/Code">
  <div class="header">
    <div class="header-content">
      <h2 class="title">
        <%= link_to group, rel: 'group', itemprop: 'name' do %><%= group.name %><% end %>
      </h2>
    </div>
  </div>
