<li itemscope itemtype="http://schema.org/Code">
  <div class="header">
    <div class="header-content">
      <%= link_to resource, rel: 'resource', itemprop: 'name' do %>
        <%= resource.name %>
      <% end %>
    </div>
  </div>
</li>
