<div class="page nobg">
  <h1 class="title">
    New Group
  </h1>
  <%= form_with model: @group do |f|%>
    <%= f.text_field :name, placeholder: 'Group Name' %>
    <%= f.submit 'Create Group', class: 'button primary radius' %>
  <% end %>
</div>
