<div class="login-box">
  <div class="header">
    <h1>Login with</h1>
  </div>

  <div class="contents">
    <ul class="buttons">
      <%= omniauth_button('GitHub') %>
      <%= omniauth_button('Twitter') %>
    </ul>
  </div>

  <p class="help-text">
    <a href="#">What's this?</a>
  </p>
</div>
