<div class="sign-in-box">
  <p>Sign in using your Twitter or GitHub account.</p>
  <div class="buttons">
    <%= link_to auth_path(:twitter) do %>
      <i class="icon-twitter"></i>Twitter
    <% end %>
    <%= link_to auth_path(:github) do %>
      <i class="icon-github"></i>GitHub
    <% end %>
  </div>
</div>
