<div class="sign-in-box">
  <div class="title">Sign In With</div>

  <div class="content">
    <ul class="buttons">
      <li class="github">
        <%= link_to 'GitHub', auth_path(:github) %>
      </li>
      <li class="twitter">
        <%= link_to 'Twitter', auth_path(:twitter) %>
      </li>
    </ul>
  </div>

  <p class="help-text">
    <a href="#">What's this?</a>
  </p>
</div>
