# Order is important. The last matching pattern has the most precedence.

*                                @chef/supermarket-maintainers
.delivery/**                     @chef/acc-maintainers
.expeditor/**                    @chef/engineering-services
cookbooks/supermarket-deploy/**  @chef/acc-maintainers
terraform/**                     @chef/acc-maintainers
