# Order is important. The last matching pattern has the most precedence.

*                                @chef/supermarket-reviewers
.expeditor/**                    @chef/jex-team
.travis.yml                      @chef/supermarket-reviewers @chef/jex-team
