# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Let developers choose their RSpec options
.rspec

# The Gemfile declares Ruby 2.0, so let's not argue over patch levels
.ruby-version
.rbenv-version
.rvmrc

# Ignore Vagrant-specific things
.vagrant/

# Ignore Test Kitchen
.kitchen/
.kitchen.local.yml

node_modules/
