<!DOCTYPE html>
<html>
<head>
  <title>Fieri</title>
  <%= stylesheet_link_tag    "fieri/application", media: "all" %>
  <%= javascript_include_tag "fieri/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
