// Alerts, Notices and all that
.alert-box {
  left: 0;
  right: 0;
  top: 0;
  margin-bottom: 0;
}

.alert-box.success {
  border-color: #43AC6A;
}

.alert-box.alert {
  border-color: #F04124;
}

.alert-box.warning {
  border-color: #F08A24;
}

.alert-box.secondary {
  border-color: #E7E7E7;
}

.alert-box.info {
  border-color: #A0D3E8;
}

.darkblue-href a{
  color:#00008B!important;
}