@import "variables";
$search_bar_background: $primary_blue;
$appheader_logo_svg: 'logo-supermarket.svg';
$appheader_logo_png: 'logo-supermarket.png';
$search_input_bg_color: darken($primary_blue, 7%);