@import "variables";
$search_bar_background: $primary_blue;
$appheader_logo_svg: 'supermarket-chef-logo.svg';
$appheader_logo_png: 'supermarket-chef-logo.png';
$search_input_bg_color: darken($primary_blue, 7%);