@import "common";
@import "foundation/components/grid";
@import "../compass/css3/border-radius";

.sign_up_in {
  padding-bottom: rem-calc(55);

  p {
    margin: 0;
  }

  @media #{$mobile-only} {
    .button {
      width: 100%;

      &:first-child {
        margin-bottom: rem-calc(10);
      }
    }
  }

  @media #{$small-only} {
    .button {
      width: 100%;

      &:first-child {
        margin-bottom: rem-calc(10);
      }
    }
  }
}

.welcome_resources {
  @include grid-row();
  border: 1px $cookbook_border;
  border-style: solid none solid none;
  margin-bottom: rem-calc(40);
  padding: rem-calc(40);

  div {
    @include grid-column($columns: 4);
  }

  @media #{$mobile-only} {
    div {
      @include grid-column($columns: 12);
    }
  }
}

.signout-message {
  @include border-radius(rem-calc(2));

  border: 4px solid $primary_red;
  color: $primary_red;
  display: block;
  margin: rem-calc(0 0 32 0);
  padding: rem-calc(18 9 18 9);

  p {
    font-size: rem-calc(18);
    text-align: center;
    margin: 0;
  }
}
