<div class="page">
  <div class="title">
    <span class="fa fa-file-text"></span>Individual Contributor License Agreement (ICLA)
  </div>

  <div class="content">
    <%= render_markdown(@icla_signature.icla.head) %>
    <%= render_markdown(@icla_signature.icla.body) %>
    <%= @icla_signature.icla.version %>
  </div>
</div>
