<div class="page">
  <div class="title">
    <span class="fa fa-file-text"></span>Individual Contributor License Agreement (ICLA)
  </div>

  <div class="content">
    <p>
      <strong>Number</strong>
      <%= @icla_signature.id %>
    </p>
    <p>
      <strong>Name</strong>
      <%= @icla_signature.name %>
    </p>
    <p>
      <strong>Company</strong>
      <%= @icla_signature.company %>
    </p>
  </div>
</div>
