@mixin clearfix {
  &:before,
  &:after {
      content: "";
      display: table;
  }
  &:after {
      clear: both;
  }
  *zoom: 1;
}

@mixin dark-links {
  a {
    color: $primary_blue;
    @include single-transition($speed: 100ms);
    text-decoration: none;

    &:visited {
      color: $primary_blue;
      text-decoration: none;
    }

    &:hover {
      color: lighten($primary_blue, 20%);
      text-decoration: none;
    }
  }
}
