@mixin button($color: $secondary-gray) {
  background: $color;
  border: 1px solid $color;
  border-radius: $button-radius;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: $helvetica;
  font-size: $font-size;
  font-weight: bold;
  @include inline-block;
  outline: none;
  padding: $font-size/2 $font-size*2;
  line-height: $button-height;
  text-decoration: none;
  @include transition;
  @include user-select(none);
  width: 100%;

  &:hover {
    background: lighten($color, 15%);
  }

  &:active {
    background: lighten($color, 7%);
  }

  &.disabled {
    background: lighten($color, 25%);
    box-shadow: none;
    cursor: not-allowed;
    opacity: 0.5;
    text-shadow: none;
  }
}

.button.primary {
  @include button($primary-blue);
}

.button.secondary {
  @include button($primary-orange);
}

.button.gray {
  @include button($secondary-gray);
}

.button.blue, .button.info {
  @include button($secondary-blue);
}

.button.green {
  @include button($secondary-green);
}

.button.yellow, .button.warning {
  @include button($secondary-yellow);
}

.button.red, .button.alert {
  @include button($secondary-red);
}
