@mixin mobile {
  @include media(max-width 480px) {
    @content;
  }
}

@mixin desktop {
  @include media(min-width 481px) {
    @content;
  }
}

@mixin retina-image($url, $background-size) {
  background-image: image-url("#{$url}.png");

  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    background-image: image-url("#{$url}@2x.png");
  }

  background-repeat: no-repeat;
  background-size: $background-size;
}
