<% if @cookbooks.present? %>
  <ul class="listing"><%= render @cookbooks %></ul>
  <%= paginate @cookbooks %>
<% else %>
  <div class="no-results">
    <p>Sorry, no cookbooks matched your search for <strong><%= params[:q] %></strong>.</p>

    <h3>Search Suggestions:</h3>
    <ul>
      <li>Check your spelling</li>
      <li>Try another search term</li>
      <li><%= link_to 'Browse the cookbooks directory', cookbooks_directory_path %></li>
    </ul>
  </div>
<% end %>