<li>
  <div class="owner"><%= link_to gravatar_for(cookbook.owner), cookbook.owner %></div>
  <div class="name">
    <%= link_to cookbook.name, cookbook, rel: 'cookbook' %>
    <small><%= cookbook.latest_cookbook_version.version %></small>
  </div>
  <small class="followers"><%= pluralize(cookbook.cookbook_followers_count, "Follower") %></small>
</li>
