---
http_interactions:
- request:
    method: post
    uri: https://id.chef.io/id/oauth/token
    body:
      encoding: UTF-8
      string: client_id=<CHEF_OAUTH2_APP_ID>&client_secret=<CHEF_OAUTH2_SECRET>&grant_type=refresh_token&refresh_token=dorfle
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
      Www-Authenticate:
      - Bearer realm="Chef-ID", error="invalid_request", error_description="The request
        is missing a required parameter, includes an unsupported parameter value,
        or is otherwise malformed."
    body:
      encoding: UTF-8
      string: '{"error":"invalid_request","error_description":"The request is missing
        a required parameter, includes an unsupported parameter value, or is otherwise
        malformed."}'
  recorded_at: Wed, 03 Dec 2014 22:16:37 GMT
recorded_with: VCR 2.9.2
