---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/chef/paprika/issues/1/labels
    body:
      encoding: UTF-8
      string: '["Signed CLA"]'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4933'
      X-Ratelimit-Reset:
      - '1434639614'
      Etag:
      - W/"7047506afe4fce590bfd2496c42ce8f4"
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/chef/paprika/labels/Signed%20CLA","name":"Signed
        CLA","color":"8ED41E"}]'
  recorded_at: Thu, 18 Jun 2015 14:55:40 GMT
- request:
    method: get
    uri: https://api.github.com/repos/chef/paprika/issues/1/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4932'
      X-Ratelimit-Reset:
      - '1434639614'
      Last-Modified:
      - Thu, 18 Jun 2015 14:55:39 GMT
      Etag:
      - W/"7047506afe4fce590bfd2496c42ce8f4"
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/chef/paprika/labels/Signed%20CLA","name":"Signed
        CLA","color":"8ED41E"}]'
  recorded_at: Thu, 18 Jun 2015 14:55:40 GMT
- request:
    method: delete
    uri: https://api.github.com/repos/chef/paprika/issues/1/labels/Signed%20CLA
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4931'
      X-Ratelimit-Reset:
      - '1434639614'
      Etag:
      - '"15fa88f5f77cbb329c6d3a1ca8d6f83d"'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 18 Jun 2015 14:55:41 GMT
- request:
    method: post
    uri: https://api.github.com/repos/chef/paprika/issues/1/comments
    body:
      encoding: UTF-8
      string: '{"body":"Hi. I am an automated pull request bot named Curry. There
        are commits in this pull request whose authors are not yet authorized to contribute
        to Chef Software, Inc. projects or are using a non-GitHub verified email address.
        To become authorized to contribute, you will need to sign the Contributor
        License Agreement (CLA) as an individual or on behalf of your company. [You
        can read more on Chef''s blog.](https://www.chef.io/blog/2014/06/23/changes-to-the-contributor-license-agreement-process)\n\n##
        GitHub Users Who Are Not Authorized To Contribute\n\nThe following GitHub
        users do not appear to have signed a CLA:\n\n* @brettchalupa\n\n[Please sign
        the CLA here.](https://community.chef.io)"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4930'
      X-Ratelimit-Reset:
      - '1434639614'
      Etag:
      - '"19cb244c357a660b364cfbafbb0a1e47"'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/chef/paprika/issues/comments/113184081
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/chef/paprika/issues/comments/113184081","html_url":"https://github.com/chef/paprika/pull/1#issuecomment-113184081","issue_url":"https://api.github.com/repos/chef/paprika/issues/1","id":113184081,"user":{"login":"thommay","id":8500,"avatar_url":"https://avatars.githubusercontent.com/u/8500?v=3","gravatar_id":"","url":"https://api.github.com/users/thommay","html_url":"https://github.com/thommay","followers_url":"https://api.github.com/users/thommay/followers","following_url":"https://api.github.com/users/thommay/following{/other_user}","gists_url":"https://api.github.com/users/thommay/gists{/gist_id}","starred_url":"https://api.github.com/users/thommay/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/thommay/subscriptions","organizations_url":"https://api.github.com/users/thommay/orgs","repos_url":"https://api.github.com/users/thommay/repos","events_url":"https://api.github.com/users/thommay/events{/privacy}","received_events_url":"https://api.github.com/users/thommay/received_events","type":"User","site_admin":false},"created_at":"2015-06-18T14:55:42Z","updated_at":"2015-06-18T14:55:42Z","body":"Hi.
        I am an automated pull request bot named Curry. There are commits in this
        pull request whose authors are not yet authorized to contribute to Chef Software,
        Inc. projects or are using a non-GitHub verified email address. To become
        authorized to contribute, you will need to sign the Contributor License Agreement
        (CLA) as an individual or on behalf of your company. [You can read more on
        Chef''s blog.](https://www.chef.io/blog/2014/06/23/changes-to-the-contributor-license-agreement-process)\n\n##
        GitHub Users Who Are Not Authorized To Contribute\n\nThe following GitHub
        users do not appear to have signed a CLA:\n\n* @brettchalupa\n\n[Please sign
        the CLA here.](https://community.chef.io)"}'
  recorded_at: Thu, 18 Jun 2015 14:55:42 GMT
- request:
    method: get
    uri: https://api.github.com/repos/chef/paprika/issues/1/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4929'
      X-Ratelimit-Reset:
      - '1434639614'
      Last-Modified:
      - Thu, 18 Jun 2015 14:55:42 GMT
      Etag:
      - '"15fa88f5f77cbb329c6d3a1ca8d6f83d"'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 18 Jun 2015 14:55:43 GMT
recorded_with: VCR 2.9.2
