---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/chef/paprika/issues/1/labels
    body:
      encoding: UTF-8
      string: '["Signed CLA"]'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1464276505'
      Etag:
      - W/"b1c59c1e0083204b2c67f35ed78c8f89"
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/chef/paprika/labels/Signed%20CLA","name":"Signed
        CLA","color":"8ED41E"}]'
  recorded_at: Thu, 26 May 2016 14:28:25 GMT
- request:
    method: get
    uri: https://api.github.com/repos/chef/paprika/issues/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1464276505'
      Etag:
      - W/"14a249fac47fc79faa1a6e1c0ee9b871"
      Last-Modified:
      - Thu, 26 May 2016 14:28:25 GMT
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/chef/paprika/issues/1","repository_url":"https://api.github.com/repos/chef/paprika","labels_url":"https://api.github.com/repos/chef/paprika/issues/1/labels{/name}","comments_url":"https://api.github.com/repos/chef/paprika/issues/1/comments","events_url":"https://api.github.com/repos/chef/paprika/issues/1/events","html_url":"https://github.com/chef/paprika/pull/1","id":26811461,"number":1,"title":"add
        henri the cat to the pr","user":{"login":"brettchalupa","id":928367,"avatar_url":"https://avatars.githubusercontent.com/u/928367?v=3","gravatar_id":"","url":"https://api.github.com/users/brettchalupa","html_url":"https://github.com/brettchalupa","followers_url":"https://api.github.com/users/brettchalupa/followers","following_url":"https://api.github.com/users/brettchalupa/following{/other_user}","gists_url":"https://api.github.com/users/brettchalupa/gists{/gist_id}","starred_url":"https://api.github.com/users/brettchalupa/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/brettchalupa/subscriptions","organizations_url":"https://api.github.com/users/brettchalupa/orgs","repos_url":"https://api.github.com/users/brettchalupa/repos","events_url":"https://api.github.com/users/brettchalupa/events{/privacy}","received_events_url":"https://api.github.com/users/brettchalupa/received_events","type":"User","site_admin":false},"labels":[{"url":"https://api.github.com/repos/chef/paprika/labels/Signed%20CLA","name":"Signed
        CLA","color":"8ED41E"}],"state":"closed","locked":false,"assignee":null,"milestone":null,"comments":6,"created_at":"2014-02-03T15:35:50Z","updated_at":"2016-05-26T14:28:25Z","closed_at":"2015-09-23T01:25:48Z","pull_request":{"url":"https://api.github.com/repos/chef/paprika/pulls/1","html_url":"https://github.com/chef/paprika/pull/1","diff_url":"https://github.com/chef/paprika/pull/1.diff","patch_url":"https://github.com/chef/paprika/pull/1.patch"},"body":"![maxresdefault](https://f.cloud.github.com/assets/928367/2128243/b8d12b78-9278-11e3-9016-a57c8de471f7.jpg)","closed_by":{"login":"brettchalupa","id":928367,"avatar_url":"https://avatars.githubusercontent.com/u/928367?v=3","gravatar_id":"","url":"https://api.github.com/users/brettchalupa","html_url":"https://github.com/brettchalupa","followers_url":"https://api.github.com/users/brettchalupa/followers","following_url":"https://api.github.com/users/brettchalupa/following{/other_user}","gists_url":"https://api.github.com/users/brettchalupa/gists{/gist_id}","starred_url":"https://api.github.com/users/brettchalupa/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/brettchalupa/subscriptions","organizations_url":"https://api.github.com/users/brettchalupa/orgs","repos_url":"https://api.github.com/users/brettchalupa/repos","events_url":"https://api.github.com/users/brettchalupa/events{/privacy}","received_events_url":"https://api.github.com/users/brettchalupa/received_events","type":"User","site_admin":false}}'
  recorded_at: Thu, 26 May 2016 14:28:25 GMT
recorded_with: VCR 2.9.2
