---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/gofullstack/paprika/issues/1/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4813'
      X-Ratelimit-Reset:
      - '1417549862'
      Last-Modified:
      - Tue, 02 Dec 2014 19:30:57 GMT
      Etag:
      - '"3ce5b382efeb38a9f5e7794a753e317c"'
      X-Oauth-Scopes:
      - public_repo, write:repo_hook
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Tue, 02 Dec 2014 19:30:57 GMT
- request:
    method: post
    uri: https://api.github.com/repos/gofullstack/paprika/issues/1/comments
    body:
      encoding: UTF-8
      string: '{"body":"Hi. I am an automated pull request bot named Curry. There
        are commits in this pull request whose authors are not yet authorized to contribute
        to Chef Software, Inc. projects or are using a non-GitHub verified email address.
        To become authorized to contribute, you will need to sign the Contributor
        License Ag[...]
- request:
    method: get
    uri: https://api.github.com/repos/gofullstack/paprika/issues/1/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4811'
      X-Ratelimit-Reset:
      - '1417549862'
      Etag:
      - '"3f27fa0971944467260a551f45508d37"'
      X-Oauth-Scopes:
      - public_repo, write:repo_hook
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/gofullstack/paprika/issues/comments/65289310","html_url":"https://github.com/gofullstack/paprika/pull/1#issuecomment-65289310","issue_url":"https://api.github.com/repos/gofullstack/paprika/issues/1","id":65289310,"user":{"login":"curryandr","id":6596341,"avatar_url":"https://avatars.githubusercontent.com/u/6596341?v=3","gravatar_id":"","url":"https://api.github.com/users/curryandr","html_url":"https://github.com/curryandr","followers_url":"https://api.github.com/users/curryandr/followers","following_url":"https://api.github.com/users/curryandr/following{/other_user}","gists_url":"https://api.github.com/users/curryandr/gists{/gist_id}","starred_url":"https://api.github.com/users/curryandr/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/curryandr/subscriptions","organizations_url":"https://api.github.com/users/curryandr/orgs","repos_url":"https://api.github.com/users/curryandr/repos","events_url":"https://api.github.com/users/curryandr/events{/privacy}","received_events_url":"https://api.github.com/users/curryandr/received_events","type":"User","site_admin":false},"created_at":"2014-12-02T19:30:58Z","updated_at":"2014-12-02T19:30:58Z","body":"Hi.
        I am an automated pull request bot named Curry. There are commits in this
        pull request whose authors are not yet authorized to contribute to Chef Software,
        Inc. projects or are using a non-GitHub verified email address. To become
        authorized to contribute, you will need to sign the Contributor License Agreement
        (CLA) as an individual or on behalf of your company. [You can read more on
        Chef''s blog.](https://www.chef.io/blog/2014/06/23/changes-to-the-contributor-license-agreement-process)\n\n##
        Non-GitHub Verified Committers\n\nThere are 1 commit author(s) whose commits
        are authored by a non-GitHub verified email address. Chef will have to manually
        verify that they are authorized to contribute.\n\n## GitHub Users Who Are
        Not Authorized To Contribute\n\nThe following GitHub users do not appear to
        have signed a CLA:\n\n* @brettchalupa\n\n[Please sign the CLA here.](https://community.chef.io)"}]'
  recorded_at: Tue, 02 Dec 2014 19:30:58 GMT
- request:
    method: get
    uri: https://api.github.com/repos/chef/paprika/issues/1/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4956'
      X-Ratelimit-Reset:
      - '1417649622'
      Last-Modified:
      - Wed, 03 Dec 2014 22:34:26 GMT
      Etag:
      - '"3ce5b382efeb38a9f5e7794a753e317c"'
      X-Oauth-Scopes:
      - public_repo, write:repo_hook
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 03 Dec 2014 22:34:27 GMT
- request:
    method: post
    uri: https://api.github.com/repos/chef/paprika/issues/1/comments
    body:
      encoding: UTF-8
      string: '{"body":"Hi. I am an automated pull request bot named Curry. There
        are commits in this pull request whose authors are not yet authorized to contribute
        to Chef Software, Inc. projects or are using a non-GitHub verified email address.
        To become authorized to contribute, you will need to sign the Contributor
        License Agreement[...]
[...]
