---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/hub
    body:
      encoding: UTF-8
      string: hub.callback=<PUBSUBHUBBUB_CALLBACK>&hub.mode=subscribe&hub.secret=<PUBSUBHUBBUB_SECRET>&hub.topic=https%3A%2F%2Fgithub.com%2Fgofullstack%2Fpaprika%2Fevents%2Fpull_request
    headers:
      Authorization:
      - token <TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4962'
      X-Ratelimit-Reset:
      - '1397491776'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.beta
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 14 Apr 2014 15:22:06 GMT
- request:
    method: post
    uri: https://api.github.com/hub
    body:
      encoding: UTF-8
      string: hub.callback=<PUBSUBHUBBUB_CALLBACK>&hub.mode=subscribe&hub.secret=<PUBSUBHUBBUB_SECRET>&hub.topic=https%3A%2F%2Fgithub.com%2Fgofullstack%2Fnot_paprika%2Fevents%2Fpull_request
    headers:
      Authorization:
      - token <TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4959'
      X-Ratelimit-Reset:
      - '1397491776'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.beta
    body:
      encoding: UTF-8
      string: '{"message":"No repository found for hub.topic: \"https://github.com/gofullstack/not_paprika/events/pull_request\"","documentation_url":"https://developer.github.com/v3/repos/hooks/#pubsubhubbub"}'
  recorded_at: Mon, 14 Apr 2014 15:22:07 GMT
recorded_with: VCR 2.9.0
