---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/gofullstack/paprika/hooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1392675537'
      Etag:
      - '"1689fdb5690c99b3b8cc4c024356c60b"'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, public_repo, read:repo_hook, repo, write:repo_hook
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/gofullstack/paprika/hooks/1782454","test_url":"https://api.github.com/repos/gofullstack/paprika/hooks/1782454/test","id":1782454,"name":"tenxer","active":true,"events":["push"],"config":{"api_key":""},"last_response":{"code":200,"status":"active","message":"OK"},"updated_at":"2014-02-17T15:36:46Z","created_at":"2014-02-07T05:28:33Z"},{"url":"https://api.github.com/repos/gofullstack/paprika/hooks/1810176","test_url":"https://api.github.com/repos/gofullstack/paprika/hooks/1810176/test","id":1810176,"name":"web","active":true,"events":["pull_request"],"config":{"url":"http://supermarket-staging.getchef.com/curry/pull_request_updates","secret":"1da97fd0c9e60147ba5eaa0d53f2365e","content_type":"form"},"last_response":{"code":200,"status":"active","message":"OK"},"updated_at":"2014-02-17T15:36:46Z","created_at":"2014-02-13T20:20:42Z"},{"url":"https://api.github.com/repos/gofullstack/paprika/hooks/1823255","test_url":"https://api.github.com/repos/gofullstack/paprika/hooks/1823255/test","id":1823255,"name":"web","active":true,"events":["pull_request"],"config":{"url":"http://currybowl.herokuapp.com/52f2934cec5edd0002000015","secret":"YOUR_PUBSUBHUBBUB_SECRET","content_type":"form"},"last_response":{"code":200,"status":"active","message":"OK"},"updated_at":"2014-02-17T18:57:47Z","created_at":"2014-02-17T18:57:47Z"}]'
  recorded_at: Mon, 17 Feb 2014 21:18:58 GMT
[...]
- request:
    method: post
    uri: https://api.github.com/hub
    body:
      encoding: UTF-8
      string: hub.callback=http%3A%2F%2Fcurrybowl.herokuapp.com%2F52f2934cec5edd0002000015&hub.mode=subscribe&hub.secret=YOUR_PUBSUBHUBBUB_SECRET&hub.topic=https%3A%2F%2Fgithub.com%2Fgofullstack%2Fpaprika%2Fevents%2Fpull_request
    headers:
      Authorization:
      - token <TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1392675537'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.beta
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 17 Feb 2014 21:19:02 GMT
[...]
- request:
    method: post
    uri: https://api.github.com/hub
    body:
      encoding: UTF-8
      string: hub.callback=http%3A%2F%2Fcurrybowl.herokuapp.com%2F52f2934cec5edd0002000015&hub.mode=unsubscribe&hub.topic=https%3A%2F%2Fgithub.com%2Fgofullstack%2Fpaprika%2Fevents%2Fpull_request
    headers:
      Authorization:
      - token <TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1392675537'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.beta
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 17 Feb 2014 21:19:03 GMT
recorded_with: VCR 2.8.0
