---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/gofullstack/paprika/pulls?state=open
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1404405621'
      Etag:
      - '"97cc7327665bd34b66529a5604fc109a"'
      X-Oauth-Scopes:
      - public_repo, write:repo_hook
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/gofullstack/paprika/pulls/10","id":17893853,"html_url":"https://github.com/gofullstack/paprika/pull/10","diff_url":"https://github.com/gofullstack/paprika/pull/10.diff","patch_url":"https://github.com/gofullstack/paprika/pull/10.patch","issue_url":"https://api.github.com/repos/gofullstack/paprika/issues/10","number":10,"state":"open","title":"Wut","user":{"login":"brettchalupa","id":928367,"avatar_url":"https://avatars.githubusercontent.com/u/928367?","gravatar_id":"c3e5586f55a9551a91d1e8b26fcc9310","url":"https://api.github.com/users/brettchalupa","html_url":"https://github.com/brettchalupa","followers_url":"https://api.github.com/users/brettchalupa/followers","following_url":"https://api.github.com/users/brettchalupa/following{/other_user}","gists_url":"https://api.github.com/users/brettchalupa/gists{/gist_id}","starred_url":"https://api.github.com/users/brettchalupa/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/brettchalupa/subscriptions","organizations_url":"https://api.github.com/users/brettchalupa/orgs","repos_url":"https://api.github.com/users/brettchalupa/repos","events_url":"https://api.github.com/users/brettchalupa/events{/privacy}","received_events_url":"https://api.github.com/users/brettchalupa/received_events","type":"User","site_admin":false},"body":"","created_at":"2014-07-02T15:41:48Z","updated_at":"2014-07-02T15:56:03Z","closed_at":null,"merged_at":null,"merge_commit_sha":"0e9254a4dc1251c5f0b0311b64acee0e19321138","assignee":null,"milestone":null,"commits_url":"https://api.github.com/repos/gofullstack/paprika/pulls/10/commits","review_comments_url":"https://api.github.com/repos/gofullstack/paprika/pulls/10/comments","review_comment_url":"https://api.github.com/repos/gofullstack/paprika/pulls/comments/{number}","comments_url":"https://api.github.com/repos/gofullstack/paprika/issues/10/comments","statuses_url":"https://api.github.com/repos/gofullstack/paprika/statuses/c4e42637afe96661d9b3d41f76a293de4e979603","head":{"label":"gofullstack:wut","ref":"wut","sha":"c4e42637afe96661d9b3d41f76a293de4e979603","user":{"login":"gofullstack","id":111571,"avatar_url":"https://avatars.githubusercontent.com/u/111571?","gravatar_id":"f58453f5fe5183d05cc59c105a6198be","url":"https://api.github.com/users/gofullstack","html_url":"https://github.com/gofullstack","followers_url":"https://api.github.com/users/gofullstack/followers","following_url":"https://api.github.com/users/gofullstack/following{/other_user}","gists_url":"https://api.github.com/users/gofullstack/gists{/gist_id}","starred_url":"https://api.github.com/users/gofullstack/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/gofullstack/subscriptions","organizations_url":"https://api.github.com/users/gofullstack/orgs","repos_url":"https://api.github.com/users/gofullstack/repos","events_url":"https://api.github.com/users/gofullstack/events{/privacy}","received_events_url":"https://api.github.com/users/gofullstack/received_events","type":"Organization","site_admin":false},"repo":{"id":16483215,"name":"paprika","full_name":"gofullstack/paprika","owner":{"login":"gofullstack","id":111571,"avatar_url":"https://avatars.githubusercontent.com/u/111571?","gravatar_id":"f58453f5fe5183d05cc59c105a6198be","url":"https://api.github.com/users/gofullstack","html_url":"https://github.com/gofullstack","followers_url":"https://api.github.com/users/gofullstack/followers","following_url":"https://api.github.com/users/gofullstack/following{/other_user}","gists_url":"https://api.github.com/users/gofullstack/gists{/gist_id}","starred_url":"https://api.github.com/users/gofullstack/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/gofullstack/subscriptions","organizations_url":"https://api.github.com/users/gofullstack/orgs","repos_url":"https://api.github.com/users/gofullstack/repos","events_url":"https://api.github.com/users/gofullstack/events{/privacy}","received_events_url":"https://api.github.com/users/gofullstack/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/gofullstack/paprika","description":"this
        is a test, this is a test","fork":false,"url":"https://api.github.com/repos/gofullstack/paprika","forks_url":"https://api.github.com/repos/gofullstack/paprika/forks","keys_url":"https://api.github.com/repos/gofullstack/paprika/keys{/key_id}","collaborators_url":"https://api.github.com/repos/gofullstack/paprika/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/gofullstack/paprika/teams","hooks_url":"https://api.github.com/repos/gofullstack/paprika/hooks","issue_events_url":"https://api.github.com/repos/gofullstack/paprika/issues/events{/number}","events_url":"https://api.github.com/repos/gofullstack/paprika/events","assignees_url":"https://api.github.com/repos/gofullstack/paprika/assignees{/user}","branches_url":"https://api.github.com/repos/gofullstack/paprika/branches{/branch}","tags_url":"https://api.github.com/repos/gofullstack/paprika/tags","blobs_url":"https://api.github.com/repos/gofullstack/paprika/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/gofullstack/paprika/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/gofullstack/paprika/git/refs{/sha}","trees_url":"https://api.github.com/repos/gofullstack/paprika/git/trees{/sha}","statuses_url":"https://api.github.com/repos/gofullstack/paprika/statuses/{sha}","languages_url":"https://api.github.com/repos/gofullstack/paprika/languages","stargazers_url":"https://api.github.com/repos/gofullstack/paprika/stargazers","contributors_url":"https://api.github.com/repos/gofullstack/paprika/contributors","subscribers_url":"https://api.github.com/repos/gofullstack/paprika/subscribers","subscription_url":"https://api.github.com/repos/gofullstack/paprika/subscription","commits_url":"https://api.github.com/repos/gofullstack/paprika/commits{/sha}","git_commits_url":"https://api.github.com/repos/gofullstack/paprika/git/commits{/sha}","comments_url":"https://api.github.com/repos/gofullstack/paprika/comments{/number}","issue_comment_url":"https://api.github.com/repos/gofullstack/paprika/issues/comments/{number}","contents_url":"https://api.github.com/repos/gofullstack/paprika/contents/{+path}","compare_url":"https://api.github.com/repos/gofullstack/paprika/compare/{base}...{head}","merges_url":"https://api.github.com/repos/gofullstack/paprika/merges","archive_url":"https://api.github.com/repos/gofullstack/paprika/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/gofullstack/paprika/downloads","issues_url":"https://api.github.com/repos/gofullstack/paprika/issues{/number}","pulls_url":"https://api.github.com/repos/gofullstack/paprika/pulls{/number}","milestones_url":"https://api.github.com/repos/gofullstack/paprika/milestones{/number}","notifications_url":"https://api.github.com/repos/gofullstack/paprika/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/gofullstack/paprika/labels{/name}","releases_url":"https://api.github.com/repos/gofullstack/paprika/releases{/id}","created_at":"2014-02-03T15:24:17Z","updated_at":"2014-03-03T14:57:47Z","pushed_at":"2014-07-02T15:41:18Z","git_url":"git://github.com/gofullstack/paprika.git","ssh_url":"git@github.com:gofullstack/paprika.git","clone_url":"https://github.com/gofullstack/paprika.git","svn_url":"https://github.com/gofullstack/paprika","homepage":null,"size":356,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_downloads":true,"has_wiki":true,"forks_count":0,"mirror_url":null,"open_issues_count":8,"forks":0,"open_issues":8,"watchers":0,"default_branch":"master"}},"base":{"label":"gofullstack:master","ref":"master","sha":"536dc66e90c2baeef9b2eba959e516268917048d","user":{"login":"gofullstack","id":111571,"avatar_url":"https://avatars.githubusercontent.com/u/111571?","gravatar_id":"f58453f5fe5183d05cc59c105a6198be","url":"https://api.github.com/users/gofullstack","html_url":"https://github.com/gofullstack","followers_url":"https://api.github.com/users/gofullstack/followers","following_url":"https://api.github.com/users/gofullstack/following{/other_user}","gists_u[...]
