---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/gofullstack/paprika/pulls?per_page=4&state=open
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4843'
      X-Ratelimit-Reset:
      - '1417549862'
      Etag:
      - '"31c1ee820d9292c6987f33c3b87de5d6"'
      X-Oauth-Scopes:
      - public_repo, write:repo_hook
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/16483215/pulls?per_page=4&state=open&page=2>;
        rel="next", <https://api.github.com/repositories/16483215/pulls?per_page=4&state=open&page=4>;
        rel="last"
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/gofullstack/paprika/pulls/21","id":20049148,"html_url":"https://github.com/gofullstack/paprika/pull/21","diff_url":"https://github.com/gofullstack/paprika/pull/21.diff","patch_url":"https://github.com/gofullstack/paprika/pull/21.patch","issue_url":"https://api.github.com/repos/gofullstack/paprika/issues/21","number":21,"state":"open","locked":false,"title":"oj","user":{"login":"brettchalupa","id":928367,"avatar_url":"https://avatars.githubusercontent.com/u/928367?v=3","gravatar_id":"","url":"https://api.github.com/users/brettchalupa","html_url":"https://github.com/brettchalupa","followers_url":"https://api.github.com/users/brettchalupa/followers","following_url":"https://api.github.com/users/brettchalupa/following{/other_user}","gists_url":"https://api.github.com/users/brettchalupa/gists{/gist_id}","starred_url":"https://api.github.com/users/brettchalupa/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/brettchalupa/subscriptions","organizations_url":"https://api.github.com/users/brettchalupa/orgs","repos_url":"https://api.github.com/users/brettchalupa/repos","events_url":"https://api.github.com/users/brettchalupa/events{/privacy}","received_events_url":"https://api.github.com/users/brettchalupa/received_events","type":"User","site_admin":false},"body":"","created_at":"2014-08-20T14:43:10Z","updated_at":"2014-08-20T14:43:11Z","closed_at":null,"merged_at":null,"merge_commit_sha":"31867d4af43af543d7b3f1ec8ed25caec82f1ae2","assignee":null,"milestone":null,"commits_url":"https://api.github.com/repos/gofullstack/paprika/pulls/21/commits","review_comments_url":"https://api.github.com/repos/gofullstack/paprika/pulls/21/comments","review_comment_url":"https://api.github.com/repos/gofullstack/paprika/pulls/comments/{number}","comments_url":"https://api.github.com/repos/gofullstack/paprika/issues/21/comments","statuses_url":"https://api.github.com/repos/gofullstack/paprika/statuses/0822a6ef836d4187ce73e8760fc7d2a3867c215b","head":{"label":"gofullstack:huh","ref":"huh","sha":"0822a6ef836d4187ce73e8760fc7d2a3867c215b","user":{"login":"gofullstack","id":111571,"avatar_url":"https://avatars.githubusercontent.com/u/111571?v=3","gravatar_id":"","url":"https://api.github.com/users/gofullstack","html_url":"https://github.com/gofullstack","followers_url":"https://api.github.com/users/gofullstack/followers","following_url":"https://api.github.com/users/gofullstack/following{/other_user}","gists_url":"https://api.github.com/users/gofullstack/gists{/gist_id}","starred_url":"https://api.github.com/users/gofullstack/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/gofullstack/subscriptions","organizations_url":"https://api.github.com/users/gofullstack/orgs","repos_url":"https://api.github.com/users/gofullstack/repos","events_url":"https://api.github.com/users/gofullstack/events{/privacy}","received_events_url":"https://api.github.com/users/gofullstack/received_events","type":"Organization","site_admin":false},"repo":{"id":16483215,"name":"paprika","full_name":"gofullstack/paprika","owner":{"login":"gofullstack","id":111571,"avatar_url":"https://avatars.githubusercontent.com/u/111571?v=3","gravatar_id":"","url":"https://api.github.com/users/gofullstack","html_url":"https://github.com/gofullstack","followers_url":"https://api.github.com/users/gofullstack/followers","following_url":"https://api.github.com/users/gofullstack/following{/other_user}","gists_url":"https://api.github.com/users/gofullstack/gists{/gist_id}","starred_url":"https://api.github.com/users/gofullstack/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/gofullstack/subscriptions","organizations_url":"https://api.github.com/users/gofullstack/orgs","repos_url":"https://api.github.com/users/gofullstack/repos","events_url":"https://api.github.com/users/gofullstack/events{/privacy}","received_events_url":"https://api.github.com/users/gofullstack/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/gofullstack/paprika","description":"this
        is a test, this is a test","fork":false,"url":"https://api.github.com/repos/gofullstack/paprika","forks_url":"https://api.github.com/repos/gofullstack/paprika/forks","keys_url":"https://api.github.com/repos/gofullstack/paprika/keys{/key_id}","collaborators_url":"https://api.github.com/repos/gofullstack/paprika/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/gofullstack/paprika/teams","hooks_url":"https://api.github.com/repos/gofullstack/paprika/hooks","issue_events_url":"https://api.github.com/repos/gofullstack/paprika/issues/events{/number}","events_url":"https://api.github.com/repos/gofullstack/paprika/events","assignees_url":"https://api.github.com/repos/gofullstack/paprika/assignees{/user}","branches_url":"https://api.github.com/repos/gofullstack/paprika/branches{/branch}","tags_url":"https://api.github.com/repos/gofullstack/paprika/tags","blobs_url":"https://api.github.com/repos/gofullstack/paprika/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/gofullstack/paprika/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/gofullstack/paprika/git/refs{/sha}","trees_url":"https://api.github.com/repos/gofullstack/paprika/git/trees{/sha}","statuses_url":"https://api.github.com/repos/gofullstack/paprika/statuses/{sha}","languages_url":"https://api.github.com/repos/gofullstack/paprika/languages","stargazers_url":"https://api.github.com/repos/gofullstack/paprika/stargazers","contributors_url":"https://api.github.com/repos/gofullstack/paprika/contributors","subscribers_url":"https://api.github.com/repos/gofullstack/paprika/subscribers","subscription_url":"https://api.github.com/repos/gofullstack/paprika/subscription","commits_url":"https://api.github.com/repos/gofullstack/paprika/commits{/sha}","git_commits_url":"https://api.github.com/repos/gofullstack/paprika/git/commits{/sha}","comments_url":"https://api.github.com/repos/gofullstack/paprika/comments{/number}","issue_comment_url":"https://api.github.com/repos/gofullstack/paprika/issues/comments/{number}","contents_url":"https://api.github.com/repos/gofullstack/paprika/contents/{+path}","compare_url":"https://api.github.com/repos/gofullstack/paprika/compare/{base}...{head}","merges_url":"https://api.github.com/repos/gofullstack/paprika/merges","archive_url":"https://api.github.com/repos/gofullstack/paprika/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/gofullstack/paprika/downloads","issues_url":"https://api.github.com/repos/gofullstack/paprika/issues{/number}","pulls_url":"https://api.github.com/repos/gofullstack/paprika/pulls{/number}","milestones_url":"https://api.github.com/repos/gofullstack/paprika/milestones{/number}","notifications_url":"https://api.github.com/repos/gofullstack/paprika/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/gofullstack/paprika/labels{/name}","releases_url":"https://api.github.com/repos/gofullstack/paprika/releases{/id}","created_at":"2014-02-03T15:24:17Z","updated_at":"2014-03-03T14:57:47Z","pushed_at":"2014-08-20T14:43:03Z","git_url":"git://github.com/gofullstack/paprika.git","ssh_url":"git@github.com:gofullstack/paprika.git","clone_url":"https://github.com/gofullstack/paprika.git","svn_url":"https://github.com/gofullstack/paprika","homepage":null,"size":762,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"open_issues_count":16,"forks":1,"open_issues":16,"watchers":0,"default_branch":"master"}},"base":{"label":"gofullstack:master","ref":"master","sha":"536dc66e90c2baeef9b2eba959e516268917048d","user":{"login":"gofullstack","id":111571,"avatar_url":"https://avatars.githubusercontent.com/u/111571?v=3","gravatar_id":"","url":"https://api.github.com/users/gofullstack","html_url":"https://github.com/gofullstack","followers_url":"https://api.github.com/users/gofullstack/followers","following_url":"https://api.github.com/users/gofullstack/following{/other_user}","gists_url":"https://api.github.com/u[...]
- request:
    method: get
    uri: https://api.github.com/repositories/16483215/pulls?page=2&per_page=4&state=open
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
  [...]
[...]
