---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/gofullstack/paprika/hooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4865'
      X-Ratelimit-Reset:
      - '1417549862'
      Etag:
      - '"4b8e6b9a1a6f4e9712047100a9dd48bc"'
      X-Oauth-Scopes:
      - public_repo, write:repo_hook
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, public_repo, read:repo_hook, repo, write:repo_hook
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/gofullstack/paprika/hooks/2114452","test_url":"https://api.github.com/repos/gofullstack/paprika/hooks/2114452/test","id":2114452,"name":"tenxer","active":true,"events":["push"],"config":{"api_key":""},"last_response":{"code":200,"status":"active","message":"OK"},"updated_at":"2014-08-20T14:43:04Z","created_at":"2014-04-17T16:31:58Z"},{"url":"https://api.github.com/repos/gofullstack/paprika/hooks/2446779","test_url":"https://api.github.com/repos/gofullstack/paprika/hooks/2446779/test","id":2446779,"name":"web","active":true,"events":["pull_request"],"config":{"url":"http://currybowl.herokuapp.com/52f2934cec5edd0002000015","secret":"********","content_type":"form"},"last_response":{"code":200,"status":"active","message":"OK"},"updated_at":"2014-12-02T18:56:46Z","created_at":"2014-06-19T16:01:15Z"},{"url":"https://api.github.com/repos/gofullstack/paprika/hooks/2558273","test_url":"https://api.github.com/repos/gofullstack/paprika/hooks/2558273/test","id":2558273,"name":"web","active":true,"events":["pull_request"],"config":{"url":"https://supermarket-staging.getchef.com/curry/pull_request_updates","secret":"********","content_type":"form"},"last_response":{"code":422,"status":"misconfigured","message":"Invalid
        HTTP Response: 301"},"updated_at":"2014-12-02T18:56:46Z","created_at":"2014-07-08T18:46:22Z"},{"url":"https://api.github.com/repos/gofullstack/paprika/hooks/3582097","test_url":"https://api.github.com/repos/gofullstack/paprika/hooks/3582097/test","id":3582097,"name":"web","active":true,"events":["pull_request"],"config":{"url":"<PUBSUBHUBBUB_CALLBACK>","secret":"********","content_type":"form"},"last_response":{"code":200,"status":"active","message":"OK"},"updated_at":"2014-12-02T18:56:46Z","created_at":"2014-12-02T18:51:52Z"}]'
  recorded_at: Tue, 02 Dec 2014 19:24:07 GMT
[...]
- request:
    method: post
    uri: https://api.github.com/hub
    body:
      encoding: UTF-8
      string: hub.callback=<PUBSUBHUBBUB_CALLBACK>&hub.mode=unsubscribe&hub.topic=https%3A%2F%2Fgithub.com%2Fgofullstack%2Fpaprika%2Fevents%2Fpull_request
    headers:
      Authorization:
      - token <TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4858'
      X-Ratelimit-Reset:
      - '1417549862'
      X-Oauth-Scopes:
      - public_repo, write:repo_hook
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, write:repo_hook
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 02 Dec 2014 19:24:11 GMT
- request:
    method: post
    uri: https://api.github.com/hub
    body:
      encoding: UTF-8
      string: hub.callback=<PUBSUBHUBBUB_CALLBACK>&hub.mode=subscribe&hub.secret=<PUBSUBHUBBUB_SECRET>&hub.topic=https%3A%2F%2Fgithub.com%2Fgofullstack%2Fpaprika%2Fevents%2Fpull_request
    headers:
      Authorization:
      - token <TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4857'
      X-Ratelimit-Reset:
      - '1417549862'
      X-Oauth-Scopes:
      - public_repo, write:repo_hook
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, write:repo_hook
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 02 Dec 2014 19:24:11 GMT
- request:
    method: post
    uri: https://api.github.com/hub
    body:
      encoding: UTF-8
      string: hub.callback=<PUBSUBHUBBUB_CALLBACK>&hub.mode=unsubscribe&hub.topic=https%3A%2F%2Fgithub.com%2Fgofullstack%2Fpaprika%2Fevents%2Fpull_request
    headers:
      Authorization:
      - token <TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4856'
      X-Ratelimit-Reset:
      - '1417549862'
      X-Oauth-Scopes:
      - public_repo, write:repo_hook
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, write:repo_hook
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 02 Dec 2014 19:24:12 GMT
recorded_with: VCR 2.9.2
