---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/gofullstack/paprika/hooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4955'
      X-Ratelimit-Reset:
      - '1397491776'
      Etag:
      - '"74dd08311d038ba6c9b2635087107635"'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, public_repo, read:repo_hook, repo, write:repo_hook
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/gofullstack/paprika/hooks/2098271","test_url":"https://api.github.com/repos/gofullstack/paprika/hooks/2098271/test","id":2098271,"name":"web","active":true,"events":["pull_request"],"config":{"url":"<PUBSUBHUBBUB_CALLBACK>","secret":"<PUBSUBHUBBUB_SECRET>","content_type":"form"},"last_response":{"code":null,"status":"unused","message":null},"updated_at":"2014-04-14T15:22:08Z","created_at":"2014-04-14T15:22:08Z"}]'
  recorded_at: Mon, 14 Apr 2014 15:22:08 GMT
[...]
- request:
    method: post
    uri: https://api.github.com/hub
    body:
      encoding: UTF-8
      string: hub.callback=<PUBSUBHUBBUB_CALLBACK>&hub.mode=subscribe&hub.secret=<PUBSUBHUBBUB_SECRET>&hub.topic=https%3A%2F%2Fgithub.com%2Fgofullstack%2Fpaprika%2Fevents%2Fpull_request
    headers:
      Authorization:
      - token <TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4950'
      X-Ratelimit-Reset:
      - '1397491776'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.beta
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 14 Apr 2014 15:22:10 GMT
[...]
- request:
    method: post
    uri: https://api.github.com/hub
    body:
      encoding: UTF-8
      string: hub.callback=<PUBSUBHUBBUB_CALLBACK>&hub.mode=unsubscribe&hub.topic=https%3A%2F%2Fgithub.com%2Fgofullstack%2Fpaprika%2Fevents%2Fpull_request
    headers:
      Authorization:
      - token <TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4948'
      X-Ratelimit-Reset:
      - '1397491776'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.beta
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 14 Apr 2014 15:22:10 GMT
recorded_with: VCR 2.9.0
