---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/orgs/chef-cookbooks/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1443125758'
      Etag:
      - W/"417dd0e2f08bccf0fa067576c68d95f6"
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/organizations/3617830/repos?page=2>; rel="next", <https://api.github.com/organizations/3617830/repos?page=5>;
        rel="last"
    body:
      encoding: UTF-8
      string: '[{"id":3720112,"name":"zsh","full_name":"chef-cookbooks/zsh","owner":{"login":"chef-cookbooks","id":3617830,"avatar_url":"https://avatars.githubusercontent.com/u/3617830?v=3","gravatar_id":"","url":"https://api.github.com/users/chef-cookbooks","html_url":"https://github.com/chef-cookbooks","followers_url":"https://api.github.com/users/chef-cookbooks/followers","following_url":"https://api.github.com/users/chef-cookbooks/following{/other_user}","gists_url":"https://api.github.com/users/chef-cookbooks/gists{/gist_id}","starred_url":"https://api.github.com/users/chef-cookbooks/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/chef-cookbooks/subscriptions","organizations_url":"https://api.github.com/users/chef-cookbooks/orgs","repos_url":"https://api.github.com/users/chef-cookbooks/repos","events_url":"https://api.github.com/users/chef-cookbooks/events{/privacy}","received_events_url":"https://api.github.com/users/chef-cookbooks/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/chef-cookbooks/zsh","description":"Development
        repository for Chef Cookbook zsh","fork":false,"url":"https://api.github.com/repos/chef-cookbooks/zsh","forks_url":"https://api.github.com/repos/chef-cookbooks/zsh/forks","keys_url":"https://api.github.com/repos/chef-cookbooks/zsh/keys{/key_id}","collaborators_url":"https://api.github.com/repos/chef-cookbooks/zsh/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/chef-cookbooks/zsh/teams","hooks_url":"https://api.github.com/repos/chef-cookbooks/zsh/hooks","issue_events_url":"https://api.github.com/repos/chef-cookbooks/zsh/issues/events{/number}","events_url":"https://api.github.com/repos/chef-cookbooks/zsh/events","assignees_url":"https://api.github.com/repos/chef-cookbooks/zsh/assignees{/user}","branches_url":"https://api.github.com/repos/chef-cookbooks/zsh/branches{/branch}","tags_url":"https://api.github.com/repos/chef-cookbooks/zsh/tags","blobs_url":"https://api.github.com/repos/chef-cookbooks/zsh/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/chef-cookbooks/zsh/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/chef-cookbooks/zsh/git/refs{/sha}","trees_url":"https://api.github.com/repos/chef-cookbooks/zsh/git/trees{/sha}","statuses_url":"https://api.github.com/repos/chef-cookbooks/zsh/statuses/{sha}","languages_url":"https://api.github.com/repos/chef-cookbooks/zsh/languages","stargazers_url":"https://api.github.com/repos/chef-cookbooks/zsh/stargazers","contributors_url":"https://api.github.com/repos/chef-cookbooks/zsh/contributors","subscribers_url":"https://api.github.com/repos/chef-cookbooks/zsh/subscribers","subscription_url":"https://api.github.com/repos/chef-cookbooks/zsh/subscription","commits_url":"https://api.github.com/repos/chef-cookbooks/zsh/commits{/sha}","git_commits_url":"https://api.github.com/repos/chef-cookbooks/zsh/git/commits{/sha}","comments_url":"https://api.github.com/repos/chef-cookbooks/zsh/comments{/number}","issue_comment_url":"https://api.github.com/repos/chef-cookbooks/zsh/issues/comments{/number}","contents_url":"https://api.github.com/repos/chef-cookbooks/zsh/contents/{+path}","compare_url":"https://api.github.com/repos/chef-cookbooks/zsh/compare/{base}...{head}","merges_url":"https://api.github.com/repos/chef-cookbooks/zsh/merges","archive_url":"https://api.github.com/repos/chef-cookbooks/zsh/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/chef-cookbooks/zsh/downloads","issues_url":"https://api.github.com/repos/chef-cookbooks/zsh/issues{/number}","pulls_url":"https://api.github.com/repos/chef-cookbooks/zsh/pulls{/number}","milestones_url":"https://api.github.com/repos/chef-cookbooks/zsh/milestones{/number}","notifications_url":"https://api.github.com/repos/chef-cookbooks/zsh/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/chef-cookbooks/zsh/labels{/name}","releases_url":"https://api.github.com/repos/chef-cookbooks/zsh/releases{/id}","created_at":"2012-03-14T17:29:34Z","updated_at":"2015-09-07T21:44:18Z","pushed_at":"2015-09-24T18:53:43Z","git_url":"git://github.com/chef-cookbooks/zsh.git","ssh_url":"git@github.com:chef-cookbooks/zsh.git","clone_url":"https://github.com/chef-cookbooks/zsh.git","svn_url":"https://github.com/chef-cookbooks/zsh","homepage":"https://supermarket.chef.io/cookbooks/zsh","size":237,"stargazers_count":23,"watchers_count":23,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":22,"mirror_url":null,"open_issues_count":0,"forks":22,"open_issues":0,"watchers":23,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":3720497,"name":"zlib","full_name":"chef-cookbooks/zlib","owner":{"login":"chef-cookbooks","id":3617830,"avatar_url":"https://avatars.githubusercontent.com/u/3617830?v=3","gravatar_id":"","url":"https://api.github.com/users/chef-cookbooks","html_url":"https://github.com/chef-cookbooks","followers_url":"https://api.github.com/users/chef-cookbooks/followers","following_url":"https://api.github.com/users/chef-cookbooks/following{/other_user}","gists_url":"https://api.github.com/users/ch[...]
