---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/gofullstack/paprika/pulls/1/commits
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4915'
      X-Ratelimit-Reset:
      - '1391789085'
      Last-Modified:
      - Fri, 07 Feb 2014 15:22:00 GMT
      Etag:
      - '"802c41929d8f3c0fbdb0dd9f2a2131e5"'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '[{"sha":"d94ba7bb94a2ddf1294d2a523caa48e776fa157f","commit":{"author":{"name":"Brett
        Chalupa","email":"brettchalupa@gmail.com","date":"2014-02-03T15:35:33Z"},"committer":{"name":"Brett
        Chalupa","email":"brettchalupa@gmail.com","date":"2014-02-03T15:35:33Z"},"message":"Hot
        commit.","tree":{"sha":"4b2b83f8e273603f65f5ab185dc689ce1fb2d5f0","url":"https://api.github.com/repos/gofullstack/paprika/git/trees/4b2b83f8e273603f65f5ab185dc689ce1fb2d5f0"},"url":"https://api.github.com/repos/gofullstack/paprika/git/commits/d94ba7bb94a2ddf1294d2a523caa48e776fa157f","comment_count":0},"url":"https://api.github.com/repos/gofullstack/paprika/commits/d94ba7bb94a2ddf1294d2a523caa48e776fa157f","html_url":"https://github.com/gofullstack/paprika/commit/d94ba7bb94a2ddf1294d2a523caa48e776fa157f","comments_url":"https://api.github.com/repos/gofullstack/paprika/commits/d94ba7bb94a2ddf1294d2a523caa48e776fa157f/comments","author":{"login":"brettchalupa","id":928367,"avatar_url":"https://gravatar.com/avatar/c3e5586f55a9551a91d1e8b26fcc9310?d=https%3A%2F%2Fidenticons.github.com%2F75863a6fc9904e8d97bec8db91221900.png&r=x","gravatar_id":"c3e5586f55a9551a91d1e8b26fcc9310","url":"https://api.github.com/users/brettchalupa","html_url":"https://github.com/brettchalupa","followers_url":"https://api.github.com/users/brettchalupa/followers","following_url":"https://api.github.com/users/brettchalupa/following{/other_user}","gists_url":"https://api.github.com/users/brettchalupa/gists{/gist_id}","starred_url":"https://api.github.com/users/brettchalupa/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/brettchalupa/subscriptions","organizations_url":"https://api.github.com/users/brettchalupa/orgs","repos_url":"https://api.github.com/users/brettchalupa/repos","events_url":"https://api.github.com/users/brettchalupa/events{/privacy}","received_events_url":"https://api.github.com/users/brettchalupa/received_events","type":"User","site_admin":false},"committer":{"login":"brettchalupa","id":928367,"avatar_url":"https://gravatar.com/avatar/c3e5586f55a9551a91d1e8b26fcc9310?d=https%3A%2F%2Fidenticons.github.com%2F75863a6fc9904e8d97bec8db91221900.png&r=x","gravatar_id":"c3e5586f55a9551a91d1e8b26fcc9310","url":"https://api.github.com/users/brettchalupa","html_url":"https://github.com/brettchalupa","followers_url":"https://api.github.com/users/brettchalupa/followers","following_url":"https://api.github.com/users/brettchalupa/following{/other_user}","gists_url":"https://api.github.com/users/brettchalupa/gists{/gist_id}","starred_url":"https://api.github.com/users/brettchalupa/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/brettchalupa/subscriptions","organizations_url":"https://api.github.com/users/brettchalupa/orgs","repos_url":"https://api.github.com/users/brettchalupa/repos","events_url":"https://api.github.com/users/brettchalupa/events{/privacy}","received_events_url":"https://api.github.com/users/brettchalupa/received_events","type":"User","site_admin":false},"parents":[{"sha":"6663a36b52f609a30096ee2685d87c3b21cf345c","url":"https://api.github.com/repos/gofullstack/paprika/commits/6663a36b52f609a30096ee2685d87c3b21cf345c","html_url":"https://github.com/gofullstack/paprika/commit/6663a36b52f609a30096ee2685d87c3b21cf345c"}]},{"sha":"aab780e8da7e018baecdf86d03581e083b8db13b","commit":{"author":{"name":"Brian
        and Brett","email":"brian+bcobb+brettchalupa@gofullstack.com","date":"2014-02-06T20:23:50Z"},"committer":{"name":"Brian
        Cobb","email":"bcobb[...]
[...]
