---
http_interactions:
- request:
    method: post
    uri: https://id.chef.io/id/oauth/token
    body:
      encoding: UTF-8
      string: client_id=<CHEF_OAUTH2_APP_ID>&client_secret=<CHEF_OAUTH2_SECRET>&grant_type=refresh_token&refresh_token=<VALID_OCID_REFRESH_TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"3b8fc37f70bcbb913023d58336288f1a"'
    body:
      encoding: UTF-8
      string: '{"access_token":"<OCID_REPLACEMENT_OAUTH_TOKEN>","token_type":"bearer","expires_in":7200,"refresh_token":"<OCID_REPLACEMENT_REFRESH_TOKEN>"}'
  recorded_at: Wed, 03 Dec 2014 22:15:53 GMT
recorded_with: VCR 2.9.2
