---
http_interactions:
- request:
    method: post
    uri: https://id.opscode.com/id/oauth/token
    body:
      encoding: UTF-8
      string: client_id=<CHEF_OAUTH2_APP_ID>&client_secret=<CHEF_OAUTH2_SECRET>&grant_type=refresh_token&refresh_token=<VALID_OCID_REFRESH_TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"994c37ff6a648027b36935626c095e55"'
    body:
      encoding: UTF-8
      string: '{"access_token":"<OCID_REPLACEMENT_OAUTH_TOKEN>","token_type":"bearer","expires_in":7200,"refresh_token":"<OCID_REPLACEMENT_REFRESH_TOKEN>"}'
  recorded_at: Tue, 13 May 2014 20:54:16 GMT
recorded_with: VCR 2.9.0
