---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/cramerdev/paprika/issues/1/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4934'
      X-Ratelimit-Reset:
      - '1392133369'
      Last-Modified:
      - Tue, 11 Feb 2014 15:26:21 GMT
      Etag:
      - '"2b68d2e8a6dcba0bacb057a1e3675ad4"'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Tue, 11 Feb 2014 15:26:25 GMT
- request:
    method: post
    uri: https://api.github.com/repos/cramerdev/paprika/issues/1/labels
    body:
      encoding: UTF-8
      string: '["All Committers are CLA Signers"]'
    headers:
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4933'
      X-Ratelimit-Reset:
      - '1392133369'
      Etag:
      - '"7cf280480cd7cb75e3b0c0ef55a19ef7"'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/cramerdev/paprika/labels/All+Committers+are+CLA+Signers","name":"All
        Committers are CLA Signers","color":"ededed"}]'
  recorded_at: Tue, 11 Feb 2014 15:26:25 GMT
- request:
    method: get
    uri: https://api.github.com/repos/cramerdev/paprika/issues/1/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4932'
      X-Ratelimit-Reset:
      - '1392133369'
      Last-Modified:
      - Tue, 11 Feb 2014 15:26:22 GMT
      Etag:
      - '"b6e6a231eaab5f3445c033cb5012f705"'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/cramerdev/paprika/labels/All+Committers+are+CLA+Signers","name":"All
        Committers are CLA Signers","color":"ededed"}]'
  recorded_at: Tue, 11 Feb 2014 15:26:25 GMT
recorded_with: VCR 2.8.0
