---
http_interactions:
- request:
    method: delete
    uri: https://api.github.com/repos/gofullstack/paprika/issues/1/labels
    body:
      encoding: UTF-8
      string: '{}'
    headers:
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1406236352'
      X-Oauth-Scopes:
      - public_repo, write:repo_hook
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 24 Jul 2014 20:13:40 GMT
- request:
    method: get
    uri: https://api.github.com/repos/gofullstack/paprika/issues/1/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '1406236352'
      Etag:
      - '"53e47a3f865703a129d329974625876c"'
      X-Oauth-Scopes:
      - public_repo, write:repo_hook
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/gofullstack/paprika/issues/comments/50071448","html_url":"https://github.com/gofullstack/paprika/pull/1#issuecomment-50071448","issue_url":"https://api.github.com/repos/gofullstack/paprika/issues/1","id":50071448,"user":{"login":"curryandr","id":6596341,"avatar_url":"https://avatars.githubusercontent.com/u/6596341?","gravatar_id":"a17d579ae533fa7dbf3f3875de913e10","url":"https://api.github.com/users/curryandr","html_url":"https://github.com/curryandr","followers_url":"https://api.github.com/users/curryandr/followers","following_url":"https://api.github.com/users/curryandr/following{/other_user}","gists_url":"https://api.github.com/users/curryandr/gists{/gist_id}","starred_url":"https://api.github.com/users/curryandr/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/curryandr/subscriptions","organizations_url":"https://api.github.com/users/curryandr/orgs","repos_url":"https://api.github.com/users/curryandr/repos","events_url":"https://api.github.com/users/curryandr/events{/privacy}","received_events_url":"https://api.github.com/users/curryandr/received_events","type":"User","site_admin":false},"created_at":"2014-07-24T20:12:34Z","updated_at":"2014-07-24T20:12:34Z","body":"Hi.
        Your friendly Curry bot here. Just letting you know that there are commit
        authors in this Pull Request who appear to not have signed a Chef CLA.\n\nThere
        are 1 commit author(s) whose commits are authored by a non GitHub-verified
        email address in this Pull Request. Chef will have to verify by hand that
        they have signed a Chef CLA.\n\nThe following GitHub users do not appear to
        have signed a CLA:\n\n* @brettchalupa\n\n[Please sign the CLA here.](https://community.getchef.com)"}]'
  recorded_at: Thu, 24 Jul 2014 20:13:41 GMT
- request:
    method: delete
    uri: https://api.github.com/repos/gofullstack/paprika/issues/comments/50071448
    body:
      encoding: UTF-8
      string: '{}'
    headers:
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1406236352'
      X-Oauth-Scopes:
      - public_repo, write:repo_hook
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 24 Jul 2014 20:13:41 GMT
recorded_with: VCR 2.9.2
