---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/gofullstack/paprika/issues/1/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4760'
      X-Ratelimit-Reset:
      - '1417549862'
      Last-Modified:
      - Tue, 02 Dec 2014 19:31:23 GMT
      Etag:
      - '"3ce5b382efeb38a9f5e7794a753e317c"'
      X-Oauth-Scopes:
      - public_repo, write:repo_hook
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Tue, 02 Dec 2014 19:31:24 GMT
- request:
    method: post
    uri: https://api.github.com/repos/gofullstack/paprika/issues/1/comments
    body:
      encoding: UTF-8
      string: '{"body":"Hi. I am an automated pull request bot named Curry. There
        are commits in this pull request whose authors are not yet authorized to contribute
        to Chef Software, Inc. projects or are using a non-GitHub verified email address.
        To become authorized to contribute, you will need to sign the Contributor
        License Agreement (CLA) as an individual or on behalf of your company. [You
        can read more on Chef''s blog.](https://www.chef.io/blog/2014/06/23/changes-to-the-contributor-license-agreement-process)\n\n##
        GitHub Users Who Are Not Authorized To Contribute\n\nThe following GitHub
        users do not appear to have signed a CLA:\n\n* @brettchalupa\n\n[Please sign
        the CLA here.](https://community.chef.io)"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4759'
      X-Ratelimit-Reset:
      - '1417549862'
      Etag:
      - '"5a959612957025a8746f78f0601d2f5d"'
      X-Oauth-Scopes:
      - public_repo, write:repo_hook
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/gofullstack/paprika/issues/comments/65289389
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/gofullstack/paprika/issues/comments/65289389","html_url":"https://github.com/gofullstack/paprika/pull/1#issuecomment-65289389","issue_url":"https://api.github.com/repos/gofullstack/paprika/issues/1","id":65289389,"user":{"login":"curryandr","id":6596341,"avatar_url":"https://avatars.githubusercontent.com/u/6596341?v=3","gravatar_id":"","url":"https://api.github.com/users/curryandr","html_url":"https://github.com/curryandr","followers_url":"https://api.github.com/users/curryandr/followers","following_url":"https://api.github.com/users/curryandr/following{/other_user}","gists_url":"https://api.github.com/users/curryandr/gists{/gist_id}","starred_url":"https://api.github.com/users/curryandr/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/curryandr/subscriptions","organizations_url":"https://api.github.com/users/curryandr/orgs","repos_url":"https://api.github.com/users/curryandr/repos","events_url":"https://api.github.com/users/curryandr/events{/privacy}","received_events_url":"https://api.github.com/users/curryandr/received_events","type":"User","site_admin":false},"created_at":"2014-12-02T19:31:24Z","updated_at":"2014-12-02T19:31:24Z","body":"Hi.
        I am an automated pull request bot named Curry. There are commits in this
        pull request whose authors are not yet authorized to contribute to Chef Software,
        Inc. projects or are using a non-GitHub verified email address. To become
        authorized to contribute, you will need to sign the Contributor License Agreement
        (CLA) as an individual or on behalf of your company. [You can read more on
        Chef''s blog.](https://www.chef.io/blog/2014/06/23/changes-to-the-contributor-license-agreement-process)\n\n##
        GitHub Users Who Are Not Authorized To Contribute\n\nThe following GitHub
        users do not appear to have signed a CLA:\n\n* @brettchalupa\n\n[Please sign
        the CLA here.](https://community.chef.io)"}'
  recorded_at: Tue, 02 Dec 2014 19:31:24 GMT
- request:
    method: post
    uri: https://api.github.com/repos/gofullstack/paprika/issues/1/labels
    body:
      encoding: UTF-8
      string: '["Signed CLA"]'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4758'
      X-Ratelimit-Reset:
      - '1417549862'
      Etag:
      - '"3a3dae204bf28cc6dbef0ed59eca18d6"'
      X-Oauth-Scopes:
      - public_repo, write:repo_hook
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/gofullstack/paprika/labels/Signed+CLA","name":"Signed
        CLA","color":"8ED41E"}]'
  recorded_at: Tue, 02 Dec 2014 19:31:25 GMT
[...]
- request:
    method: delete
    uri: https://api.github.com/repos/gofullstack/paprika/issues/1/labels/Signed+CLA
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4755'
      X-Ratelimit-Reset:
      - '1417549862'
      Etag:
      - '"3ce5b382efeb38a9f5e7794a753e317c"'
      X-Oauth-Scopes:
      - public_repo, write:repo_hook
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Tue, 02 Dec 2014 19:31:26 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/chef/paprika/issues/1/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4940'
      X-Ratelimit-Reset:
      - '1417649622'
      Last-Modified:
      - Wed, 03 Dec 2014 22:34:53 GMT
      Etag:
      - '"3ce5b382efeb38a9f5e7794a753e317c"'
      X-Oauth-Scopes:
      - public_repo, write:repo_hook
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 03 Dec 2014 22:34:54 GMT
- request:
    method: post
    uri: https://api.github.com/repos/chef/paprika/issues/1/comments
    body:
      encoding: UTF-8
      string: '{"body":"Hi. I am an automated pull request bot named Curry. There
        are commits in this pull request whose authors are not yet authorized to contribute
        to Chef Software, Inc. projects or are using a non-GitHub verified email address.
        To become authorized to contribute, you will need to sign the Contributor
        License Agreement[...]
[...]
- request:
    method: delete
    uri: https://api.github.com/repos/chef/paprika/issues/1/labels/Signed+CLA
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4935'
      X-Ratelimit-Reset:
      - '1417649622'
      Etag:
      - '"3ce5b382efeb38a9f5e7794a753e317c"'
      X-Oauth-Scopes:
      - public_repo, write:repo_hook
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 03 Dec 2014 22:34:57 GMT
[...]
