---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/gofullstack/paprika/issues/1/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4931'
      X-Ratelimit-Reset:
      - '1397491776'
      Last-Modified:
      - Mon, 14 Apr 2014 15:35:11 GMT
      Etag:
      - '"9a91426370304d47dc7f9136428010e0"'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Mon, 14 Apr 2014 15:35:12 GMT
- request:
    method: post
    uri: https://api.github.com/repos/gofullstack/paprika/issues/1/labels
    body:
      encoding: UTF-8
      string: '["Signed CLA"]'
    headers:
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4930'
      X-Ratelimit-Reset:
      - '1397491776'
      Etag:
      - '"0d6247705489e1887164e167bd0cd45e"'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/gofullstack/paprika/labels/Signed+CLA","name":"Signed
        CLA","color":"8ED41E"}]'
  recorded_at: Mon, 14 Apr 2014 15:35:12 GMT
- request:
    method: get
    uri: https://api.github.com/repos/gofullstack/paprika/issues/1/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4929'
      X-Ratelimit-Reset:
      - '1397491776'
      Last-Modified:
      - Mon, 14 Apr 2014 15:35:12 GMT
      Etag:
      - '"db921b4f69987520fe27b4ae733ff1e2"'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/gofullstack/paprika/labels/Signed+CLA","name":"Signed
        CLA","color":"8ED41E"}]'
  recorded_at: Mon, 14 Apr 2014 15:35:12 GMT
recorded_with: VCR 2.9.0
