---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/gofullstack/paprika/issues/1/labels
    body:
      encoding: UTF-8
      string: '["Signed CLA"]'
    headers:
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4918'
      X-Ratelimit-Reset:
      - '1408539725'
      Etag:
      - '"2484ad0e1dec97c5ae7defd199aaeadd"'
      X-Oauth-Scopes:
      - gist, notifications, read:repo_hook, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/gofullstack/paprika/labels/Signed+CLA","name":"Signed
        CLA","color":"8ED41E"}]'
  recorded_at: Wed, 20 Aug 2014 12:08:34 GMT
- request:
    method: get
    uri: https://api.github.com/repos/gofullstack/paprika/issues/1/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4917'
      X-Ratelimit-Reset:
      - '1408539725'
      Etag:
      - '"2c35ba903c3caea3d99f767892ef96f6"'
      X-Oauth-Scopes:
      - gist, notifications, read:repo_hook, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Wed, 20 Aug 2014 12:08:35 GMT
- request:
    method: get
    uri: https://api.github.com/repos/gofullstack/paprika/issues/1/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4916'
      X-Ratelimit-Reset:
      - '1408539725'
      Last-Modified:
      - Wed, 20 Aug 2014 12:08:34 GMT
      Etag:
      - '"2484ad0e1dec97c5ae7defd199aaeadd"'
      X-Oauth-Scopes:
      - gist, notifications, read:repo_hook, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/gofullstack/paprika/labels/Signed+CLA","name":"Signed
        CLA","color":"8ED41E"}]'
  recorded_at: Wed, 20 Aug 2014 12:08:35 GMT
recorded_with: VCR 2.9.2
