---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/gofullstack/paprika/issues/1/labels
    body:
      encoding: UTF-8
      string: '["Signed CLA"]'
    headers:
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4945'
      X-Ratelimit-Reset:
      - '1397491776'
      Etag:
      - '"0d6247705489e1887164e167bd0cd45e"'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/gofullstack/paprika/labels/Signed+CLA","name":"Signed
        CLA","color":"8ED41E"}]'
  recorded_at: Mon, 14 Apr 2014 15:35:07 GMT
- request:
    method: get
    uri: https://api.github.com/repos/gofullstack/paprika/issues/1/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4944'
      X-Ratelimit-Reset:
      - '1397491776'
      Last-Modified:
      - Mon, 14 Apr 2014 15:35:07 GMT
      Etag:
      - '"1ac64b5e86628e12bca85133a1aa298c"'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/gofullstack/paprika/labels/Signed+CLA","name":"Signed
        CLA","color":"8ED41E"}]'
  recorded_at: Mon, 14 Apr 2014 15:35:07 GMT
- request:
    method: delete
    uri: https://api.github.com/repos/gofullstack/paprika/issues/1/labels/Signed+CLA
    body:
      encoding: UTF-8
      string: '{}'
    headers:
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4943'
      X-Ratelimit-Reset:
      - '1397491776'
      Etag:
      - '"9207e113ddcd20a9ac22319a53c77615"'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Mon, 14 Apr 2014 15:35:08 GMT
- request:
    method: post
    uri: https://api.github.com/repos/gofullstack/paprika/issues/1/comments
    body:
      encoding: UTF-8
      string: '{"body":"Hi. Your friendly Curry bot here. Just letting you know that
        there are commit authors in this Pull Request who appear to not have signed
        a Chef CLA.\n\nThe following GitHub users do not appear to have signed a CLA:\n\n*
        @brettchalupa\n\n[Please sign the CLA here.](https://community.getchef.com)"}'
    headers:
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4942'
      X-Ratelimit-Reset:
      - '1397491776'
      Etag:
      - '"61b946e90c958c24810718528a60d71b"'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/gofullstack/paprika/issues/comments/40380642
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/gofullstack/paprika/issues/comments/40380642","html_url":"https://github.com/gofullstack/paprika/pull/1#issuecomment-40380642","issue_url":"https://api.github.com/repos/gofullstack/paprika/issues/1","id":40380642,"user":{"login":"bcobb","id":35545,"avatar_url":"https://avatars.githubusercontent.com/u/35545?","gravatar_id":"269b40217dfecccd37c71650992dd2cc","url":"https://api.github.com/users/bcobb","html_url":"https://github.com/bcobb","followers_url":"https://api.github.com/users/bcobb/followers","following_url":"https://api.github.com/users/bcobb/following{/other_user}","gists_url":"https://api.github.com/users/bcobb/gists{/gist_id}","starred_url":"https://api.github.com/users/bcobb/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bcobb/subscriptions","organizations_url":"https://api.github.com/users/bcobb/orgs","repos_url":"https://api.github.com/users/bcobb/repos","events_url":"https://api.github.com/users/bcobb/events{/privacy}","received_events_url":"https://api.github.com/users/bcobb/received_events","type":"User","site_admin":false},"created_at":"2014-04-14T15:35:08Z","updated_at":"2014-04-14T15:35:08Z","body":"Hi.
        Your friendly Curry bot here. Just letting you know that there are commit
        authors in this Pull Request who appear to not have signed a Chef CLA.\n\nThe
        following GitHub users do not appear to have signed a CLA:\n\n* @brettchalupa\n\n[Please
        sign the CLA here.](https://community.getchef.com)"}'
  recorded_at: Mon, 14 Apr 2014 15:35:08 GMT
- request:
    method: get
    uri: https://api.github.com/repos/gofullstack/paprika/issues/1/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4941'
      X-Ratelimit-Reset:
      - '1397491776'
      Last-Modified:
      - Mon, 14 Apr 2014 15:35:08 GMT
      Etag:
      - '"5213d3c6787cb9e7d2b56244a7fe5fce"'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Mon, 14 Apr 2014 15:35:08 GMT
recorded_with: VCR 2.9.0
