---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/gofullstack/paprika/issues/1/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4966'
      X-Ratelimit-Reset:
      - '1392675537'
      Last-Modified:
      - Mon, 17 Feb 2014 21:21:05 GMT
      Etag:
      - '"c98386ca02452433f1f83f927570670b"'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Mon, 17 Feb 2014 21:21:06 GMT
- request:
    method: post
    uri: https://api.github.com/repos/gofullstack/paprika/issues/1/labels
    body:
      encoding: UTF-8
      string: '["Signed CLA"]'
    headers:
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4965'
      X-Ratelimit-Reset:
      - '1392675537'
      Etag:
      - '"bd6b6e871f2617e4619cd416e56e9811"'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/gofullstack/paprika/labels/Signed+CLA","name":"Signed
        CLA","color":"8ED41E"}]'
  recorded_at: Mon, 17 Feb 2014 21:21:06 GMT
- request:
    method: get
    uri: https://api.github.com/repos/gofullstack/paprika/issues/1/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4964'
      X-Ratelimit-Reset:
      - '1392675537'
      Last-Modified:
      - Mon, 17 Feb 2014 21:21:06 GMT
      Etag:
      - '"03d18635b95c79a9257ff5d670d1fee0"'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/gofullstack/paprika/labels/Signed+CLA","name":"Signed
        CLA","color":"8ED41E"}]'
  recorded_at: Mon, 17 Feb 2014 21:21:06 GMT
recorded_with: VCR 2.8.0
