---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/cramerdev/paprika/issues/1/labels
    body:
      encoding: UTF-8
      string: '["All Commit Authors are CLA Signers"]'
    headers:
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4972'
      X-Ratelimit-Reset:
      - '1392416831'
      Etag:
      - '"5482452f7434a8bebcb91bae3226b7e1"'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/cramerdev/paprika/labels/All+Commit+Authors+are+CLA+Signers","name":"All
        Commit Authors are CLA Signers","color":"ededed"}]'
  recorded_at: Fri, 14 Feb 2014 21:39:36 GMT
- request:
    method: get
    uri: https://api.github.com/repos/cramerdev/paprika/issues/1/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4971'
      X-Ratelimit-Reset:
      - '1392416831'
      Last-Modified:
      - Fri, 14 Feb 2014 21:39:37 GMT
      Etag:
      - '"033a211170b56c03867166c560b4acbe"'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/cramerdev/paprika/labels/All+Commit+Authors+are+CLA+Signers","name":"All
        Commit Authors are CLA Signers","color":"ededed"}]'
  recorded_at: Fri, 14 Feb 2014 21:39:36 GMT
- request:
    method: delete
    uri: https://api.github.com/repos/cramerdev/paprika/issues/1/labels/All+Commit+Authors+are+CLA+Signers
    body:
      encoding: UTF-8
      string: '{}'
    headers:
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4970'
      X-Ratelimit-Reset:
      - '1392416831'
      Etag:
      - '"ae9aa718984c6afbf19ba5a581905c60"'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Fri, 14 Feb 2014 21:39:37 GMT
- request:
    method: post
    uri: https://api.github.com/repos/cramerdev/paprika/issues/1/comments
    body:
      encoding: UTF-8
      string: '{"body":"Hi. Your friendly Curry bot here. Just letting you know that
        there are commit authors in this Pull Request who appear to not have signed
        a Chef CLA.\n\nThe following GitHub users do not appear to have signed a CLA:\n\n*
        @brettchalupa\n\n[Please sign the CLA here.](https://community.getchef.com)"}'
    headers:
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4969'
      X-Ratelimit-Reset:
      - '1392416831'
      Etag:
      - '"fc7ea95520ef893f0d1b5537de2224c2"'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo
      Location:
      - https://api.github.com/repos/cramerdev/paprika/issues/comments/35127415
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/cramerdev/paprika/issues/comments/35127415","html_url":"https://github.com/cramerdev/paprika/pull/1#issuecomment-35127415","issue_url":"https://api.github.com/repos/cramerdev/paprika/issues/1","id":35127415,"user":{"login":"curryandr","id":6596341,"avatar_url":"https://gravatar.com/avatar/a17d579ae533fa7dbf3f3875de913e10?d=https%3A%2F%2Fidenticons.github.com%2Fc23454742636600091b5bfbfe3187dc2.png&r=x","gravatar_id":"a17d579ae533fa7dbf3f3875de913e10","url":"https://api.github.com/users/curryandr","html_url":"https://github.com/curryandr","followers_url":"https://api.github.com/users/curryandr/followers","following_url":"https://api.github.com/users/curryandr/following{/other_user}","gists_url":"https://api.github.com/users/curryandr/gists{/gist_id}","starred_url":"https://api.github.com/users/curryandr/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/curryandr/subscriptions","organizations_url":"https://api.github.com/users/curryandr/orgs","repos_url":"https://api.github.com/users/curryandr/repos","events_url":"https://api.github.com/users/curryandr/events{/privacy}","received_events_url":"https://api.github.com/users/curryandr/received_events","type":"User","site_admin":false},"created_at":"2014-02-14T21:39:38Z","updated_at":"2014-02-14T21:39:38Z","body":"Hi.
        Your friendly Curry bot here. Just letting you know that there are commit
        authors in this Pull Request who appear to not have signed a Chef CLA.\n\nThe
        following GitHub users do not appear to have signed a CLA:\n\n* @brettchalupa\n\n[Please
        sign the CLA here.](https://community.getchef.com)"}'
  recorded_at: Fri, 14 Feb 2014 21:39:37 GMT
- request:
    method: get
    uri: https://api.github.com/repos/cramerdev/paprika/issues/1/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4968'
      X-Ratelimit-Reset:
      - '1392416831'
      Last-Modified:
      - Fri, 14 Feb 2014 21:39:38 GMT
      Etag:
      - '"d7a88d5a9ad5ef607527e0a10a78afec"'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Fri, 14 Feb 2014 21:39:38 GMT
recorded_with: VCR 2.8.0
