---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/gofullstack/paprika/issues/1/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4914'
      X-Ratelimit-Reset:
      - '1406563309'
      Last-Modified:
      - Mon, 28 Jul 2014 15:44:36 GMT
      Etag:
      - '"804b40dd96f57470f34acdd0e6423399"'
      X-Oauth-Scopes:
      - public_repo, write:repo_hook
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/16483215/issues/1/labels?page=0>; rel="last"
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Mon, 28 Jul 2014 15:44:39 GMT
- request:
    method: post
    uri: https://api.github.com/repos/gofullstack/paprika/issues/1/comments
    body:
      encoding: UTF-8
      string: '{"body":"Hi. Your friendly Curry bot here. Just letting you know that
        there are commit authors in this Pull Request who appear to not have signed
        a Chef CLA.\n\nThe following GitHub users do not appear to have signed a CLA:\n\n*
        @brettchalupa\n\n[Please sign the CLA here.](https://community.getchef.com)"}'
    headers:
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4913'
      X-Ratelimit-Reset:
      - '1406563309'
      Etag:
      - '"754bc845c52803691ad92c01fa43c82a"'
      X-Oauth-Scopes:
      - public_repo, write:repo_hook
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/gofullstack/paprika/issues/comments/50356205
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/gofullstack/paprika/issues/comments/50356205","html_url":"https://github.com/gofullstack/paprika/pull/1#issuecomment-50356205","issue_url":"https://api.github.com/repos/gofullstack/paprika/issues/1","id":50356205,"user":{"login":"curryandr","id":6596341,"avatar_url":"https://avatars.githubusercontent.com/u/6596341?","gravatar_id":"a17d579ae533fa7dbf3f3875de913e10","url":"https://api.github.com/users/curryandr","html_url":"https://github.com/curryandr","followers_url":"https://api.github.com/users/curryandr/followers","following_url":"https://api.github.com/users/curryandr/following{/other_user}","gists_url":"https://api.github.com/users/curryandr/gists{/gist_id}","starred_url":"https://api.github.com/users/curryandr/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/curryandr/subscriptions","organizations_url":"https://api.github.com/users/curryandr/orgs","repos_url":"https://api.github.com/users/curryandr/repos","events_url":"https://api.github.com/users/curryandr/events{/privacy}","received_events_url":"https://api.github.com/users/curryandr/received_events","type":"User","site_admin":false},"created_at":"2014-07-28T15:44:37Z","updated_at":"2014-07-28T15:44:37Z","body":"Hi.
        Your friendly Curry bot here. Just letting you know that there are commit
        authors in this Pull Request who appear to not have signed a Chef CLA.\n\nThe
        following GitHub users do not appear to have signed a CLA:\n\n* @brettchalupa\n\n[Please
        sign the CLA here.](https://community.getchef.com)"}'
  recorded_at: Mon, 28 Jul 2014 15:44:40 GMT
[...]
- request:
    method: post
    uri: https://api.github.com/repos/gofullstack/paprika/issues/1/labels
    body:
      encoding: UTF-8
      string: '["Signed CLA"]'
    headers:
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4911'
      X-Ratelimit-Reset:
      - '1406563309'
      Etag:
      - '"9e0f713c4aaf54f15db23497aa31b638"'
      X-Oauth-Scopes:
      - public_repo, write:repo_hook
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/gofullstack/paprika/labels/Signed+CLA","name":"Signed
        CLA","color":"8ED41E"}]'
  recorded_at: Mon, 28 Jul 2014 15:44:40 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/gofullstack/paprika/issues/1/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4908'
      X-Ratelimit-Reset:
      - '1406563309'
      Last-Modified:
      - Mon, 28 Jul 2014 15:44:38 GMT
      Etag:
      - '"9e0f713c4aaf54f15db23497aa31b638"'
      X-Oauth-Scopes:
      - public_repo, write:repo_hook
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/gofullstack/paprika/labels/Signed+CLA","name":"Signed
        CLA","color":"8ED41E"}]'
  recorded_at: Mon, 28 Jul 2014 15:44:42 GMT
recorded_with: VCR 2.9.2
