<h1>Forgot your password?</h1>

<div class="row collapse">
  <div class="small-7 columns">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), method: :post) do |f| %>
      <%= render 'application/form_errors', record: resource %>

        <%= f.email_field :email, placeholder: 'Email',  title: 'Email', autofocus: true %>

      <%= f.submit 'Send Reset Password Instructions', class: 'button primary radius expand' %>
    <% end %>
  </div>
</div>
