<h1>Add Collaborators</h1>
<a class="close-reveal-modal">&#215;</a>

<%= form_for [@cookbook, @collaborator], url: cookbook_collaborators_path(@cookbook) do |f| %>
  <%= f.hidden_field :user_id %>
  <%= f.submit 'Add', class: 'button small right' %>
<% end %>
