<h1>Add Collaborators</h1>
<a class="close-reveal-modal">&#215;</a>

<%= form_for [@cookbook, @collaborator], url: cookbook_collaborators_path(@cookbook) do |f| %>
  <div class="row collapse">
    <div class="small-10 columns">
      <%= f.hidden_field :user_id, class: 'collaborators multiple', 'data-url' => cookbook_collaborators_path(@cookbook) %>
    </div>
    <div class="small-2 columns">
      <%= f.submit 'Add', class: 'button postfix' %>
    </div>
  </div>
<% end %>
