@import "common";
@import "foundation/components/grid";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/inline-block";

// Styles for the cookbook partial
.cookbook {
  background-color: $cookbook_partial_sidebar;
  border-top: 1px solid $cookbook_border;
  border-right: 1px solid $cookbook_border;
  border-left: 1px solid $cookbook_border;
  @include grid-row();
}

.cookbook_partial_content {
  background-color: white;
  border-bottom: 1px solid $cookbook_border;
  @include grid-column($columns: 12, $collapse: true);
  padding: rem-calc(20 30 30);

  p {
    color: $concrete;
    font-size: rem-calc(16);
    margin: rem-calc(0 0 20 0);
  }
}

@media #{$mobile-only} {
  .cookbook_partial_content {
    @include grid-column($columns: 12, $collapse: true);
    padding: rem-calc(20 30 30);

    code {
      display: none
    }

    > p {
      margin-bottom: 0;
    }
  }
}

@media #{$small-only} {
  .cookbook_partial_content {
    @include grid-column($columns: 12, $collapse: true);
    padding: rem-calc(20 30 30);
  }
}

.cookbook, .cookbook_show {
  pre {
    background-color: darken($primary_blue, 5%);
    @include border-radius(rem-calc(3));
    color: $silver;
    cursor: text;
    font: {
      size: rem-calc(16);
      weight: $normal;
    }
    line-height: rem-calc(24);
    padding: rem-calc(8 20);
  }
}

.cookbook_header {
  background-color: white;
  border-top: 1px solid $cookbook_border;
  border-right: 1px solid $cookbook_border;
  border-left: 1px solid $cookbook_border;
  @include grid-row();
}

.cookbook_partial_content_header {
  background-color: white;
  @include grid-column($columns: 12, $collapse: true);
  min-height: rem-calc(62);
  padding: rem-calc(15 30);

  .cookbook_owner {
    float: right;

    h5 {
      display: inline;
      margin-bottom: 0;
    }

    .gravatar {
      background-color: $primary_gray;
      border: rem-calc(3) solid white;
      @include box-shadow(rgba(0,0,0,.2) 0 rem-calc(1) rem-calc(1));
      @include border-radius(rem-calc(24));
      @include box-sizing(content-box);
      width: rem-calc(24);
    }

    @media #{$mobile-only} {
      .gravatar {
        width: rem-calc(20);
      }
    }

    @media #{$small-only} {
      .gravatar {
        width: rem-calc(20);
      }
    }
  }

  .cookbook_title {
    font-size: rem-calc(16);
    line-height: rem-calc(16);
    color: $primary_blue;
    float: left;
    margin: rem-calc(10 0 0);

    @include dark-links;

    .fa {
      color: $silver;
      @include inline-block;
      font-size: rem-calc(16);
      margin: rem-calc(-2 0 0 16);
    }

    small {
      color: $secondary_gray;
      @include inline-block;
      font: {
        size: rem-calc(12);
        weight: $normal;
      }
    }
  }
}

.cookbook_footer {
  background-color: $cookbook_partial_sidebar_footer;
  border-right: 1px solid $cookbook_border;
  border-bottom: 1px solid $cookbook_border;
  border-left: 1px solid $cookbook_border;
  @include grid-row();
}

.cookbook_partial_content_footer {
  background-color: $cookbook_footer;
  @include grid-column($columns: 12, $collapse: true);
  min-height: rem-calc(62);
  padding: rem-calc(15 30);

  h5 {
    color: $concrete;
    font: {
      size: rem-calc(10);
      weight: $normal;
    }
    text-transform: uppercase;
    margin: rem-calc(0 0 4);
  }

  .cookbook_platforms_content {
    float: left;
  }
}

@media #{$mobile-only} {
  .cookbook_heading {
    padding: rem-calc(15 10 10 20);
  }
}

@media #{$small-only} {
  .cookbook_heading {
    padding: rem-calc(15 10 10 20);
  }
}

@media #{$mobile-only} {
  .cookbook_partial_content_header {
    .cookbook_owner {
      .gravatar {
        @include inline-block;
        margin: rem-calc(0 10 0 0);
      }

      h5 {
        @include inline-block;
        margin: 0;
      }
    }
  }

  .cookbook_footer {
    .cookbook_platforms_content {
      display: none;
    }

    .cookbook_stats {
      float: left;
      margin: rem-calc(-2 0 0 0);
    }
  }
}

@media #{$small-only} {
  .cookbook_partial_content_header {
    .cookbook_owner {
      .gravatar {
        @include inline-block;
        margin: rem-calc(0 10 0 0);
      }

      h5 {
        @include inline-block;
        margin: 0;
      }
    }
  }

  .cookbook_footer {
    .cookbook_platforms_content {
      display: none;
    }

    .cookbook_stats {
      float: left;
      margin: rem-calc(-2 0 0 0);
    }
  }
}

.cookbook_dates {
  color: $concrete;
  font: $normal rem-calc(12) $accent_font;
  line-height: rem-calc(16);
  float: left;
  margin: rem-calc(10 0 0);
  text-align: right;

  .fa {
    color: $silver;
    @include inline-block;
    font-size: rem-calc(16);
    margin: rem-calc(-2 0 0 16);
  }

  small {
    color: lighten($silver, 5%);
    font: {
      size: rem-calc(10);
      weight: $normal;
    }
  }
}

@media #{$mobile-only} {
  .cookbook_dates {
    display: none;
  }
}

@media #{$small-only} {
  .cookbook_dates {
    display: none;
  }
}

.cookbook_category_and_stats {
  bottom: rem-calc(10);
  color: $asbestos;
  font: $bold rem-calc(10) $default_font;
  padding: rem-calc(0 20 0);
  position: absolute;
  z-index: 1;
}

@media #{$mobile-only} {
  .cookbook_category_and_stats {
    padding: rem-calc(10 10 0 20);
    position: static;
  }
}

@media #{$small-only} {
  .cookbook_category_and_stats {
    padding: rem-calc(10 10 0 20);
    position: static;
  }
}

.cookbook_stats {
  list-style: none;
  float: right;
  margin: 0;

  li {
    color: $primary_gray;
    font-size: rem-calc(10);
    display: inline;
    margin: rem-calc(0 16 0 0);
    text-align: center;

    &:last-child {
      margin: 0;
    }

    .fa {
      @include inline-block;
      font-size: rem-calc(16);
      margin: rem-calc(-2 8 0 10);
    }

    @media #{$mobile-only} {
      .fa {
        margin: rem-calc(-2 4 0 0);
      }
    }

    h5 {
      color: $primary_gray;
      font: {
        size: rem-calc(10);
        weight: $normal;
      }
      text-transform: none;
      display: inline;
      margin: 0;
    }
  }

  @media #{$mobile-only} {
    li {
      margin: rem-calc(0 10 0 0);
    }
  }

  @media #{$mobile-only} {
    .follow {
      padding: rem-calc(8);
    }
  }
}

// Cookbook row element
.cookbook_body {
  @include grid-row();
}

// Cookbooks sidebar column
.cookbook_sidebar {
  @include grid-column($columns: 3, $collapse: true);

  ul {
    border-bottom: rem-calc(2) solid lighten($secondary_gray, 35%);
    @include box-sizing(border-box);
    list-style: none;
    margin: rem-calc(0 30 20 0);
    padding: rem-calc(0 0 20 0);

    li {
      line-height: rem-calc(30);

      &:before {
        content: "\00b7";
        display: block;
        float: left;
        font-size: rem-calc(52);
        line-height: rem-calc(15);
        margin: rem-calc(5 7 0 0);
      }

      a {
        color: $secondary_gray;
        font-size: rem-calc(12);
        display: block;
        line-height: rem-calc(30);
        padding-left: rem-calc(20);
        @include single-transition($speed: 100ms);

        &:hover {
          background-color: $clouds;
          @include border-radius(rem-calc(3));
          color: darken($secondary_gray, 20%);
        }

        em {
          font: normal $bold rem-calc(12) $accent_font;
          @include inline-block;
          min-width: rem-calc(28);
        }

        &.active {
          background-color: lighten($clouds, 2%);
          @include border-radius(rem-calc(3));
          color: darken($secondary_gray, 20%);
          font-weight: $bold;
        }
      }

      .fa {
        color: darken($secondary_gray, 20%);
        font-size: rem-calc(12);
        margin: rem-calc(10 5 0 0);
      }

      @media #{$mobile-only} {
        .fa {
          margin: rem-calc(25 20 0 0);
        }
      }

      @media #{$small-only} {
        .fa {
          margin: rem-calc(25 20 0 0);
        }
      }

    }
  }
}

@media #{$mobile-only} {
  .cookbook_sidebar {
    @include grid-row();

    ul {
      @include clearfix;
      @include grid-column($columns: 12, $collapse: true, $float: none);
      margin: rem-calc(0 -20 40);
      padding: 0;
      width: auto;

      li {
        border-left: rem-calc(5) solid;
        float: left;
        line-height: rem-calc(64);
        width: 50%;

        &:before {
          display: none;
          font-size: rem-calc(64);
          line-height: rem-calc(50);
          margin-left: rem-calc(8);
        }

        &:nth-child(2n+2) a {
          border-right: none;
        }

        a {
          border-top: rem-calc(2) solid lighten($secondary_gray, 35%);
          border-right: rem-calc(2) solid lighten($secondary_gray, 35%);
          font-size: rem-calc(15);
          line-height: rem-calc(64);
          padding-left: rem-calc(15);

          em {
            font-size: rem-calc(14);
            margin-top: rem-calc(-5);
          }
        }
      }
    }
  }
}

@media #{$small-only} {
  .cookbook_sidebar {
    @include grid-row();

    ul {
      @include clearfix;
      @include grid-column($columns: 12, $collapse: true, $float: none);
      margin: rem-calc(0 0 40);
      padding: 0;
      width: auto;

      li {
        border-left: rem-calc(5) solid;
        float: left;
        line-height: rem-calc(64);
        width: 50%;

        &:before {
          display: none;
          font-size: rem-calc(64);
          line-height: rem-calc(50);
          margin-left: rem-calc(8);
        }

        a {
          border-top: rem-calc(2) solid lighten($secondary_gray, 35%);
          border-right: rem-calc(2) solid lighten($secondary_gray, 35%);
          font-size: rem-calc(15);
          line-height: rem-calc(64);
          padding-left: rem-calc(15);

          em {
            font-size: rem-calc(14);
            margin-top: rem-calc(-5);
          }
        }
      }
    }
  }
}

.cookbook_sidebar_heading {
  border-bottom: rem-calc(2) solid lighten($secondary_gray, 35%);
  color: $concrete;
  font: {
    size: rem-calc(12);
    weight: $normal;
  }
  margin: rem-calc(13 30 20 0);
  padding-bottom: rem-calc(19);
  text-transform: uppercase;
}

@media #{$mobile-only} {
  .cookbook_sidebar_heading {
    display: none;
  }
}

@media #{$small-only} {
  .cookbook_sidebar_heading {
    display: none;
  }
}

// Cookbooks body column
.cookbook_content {
  @include grid-row();
}

.cookbook_content_heading {
  @include grid-column($columns: 4, $collapse: true);
  border: 0;
  color: $silver;
  margin: rem-calc(0 0 40 0);
  padding: 0;
  font-size: 140%;

  small { @include inline-block; }

  .label {
    color: lighten($primary_gray, 20%);
    font: $bold rem-calc(12) $accent_font;
    margin-left: rem-calc(10);
    padding: rem-calc(4 10);

    &.secondary { background-color: lighten($secondary_gray, 35%); }
  }
}

@media #{$mobile-only} {
  .cookbook_content_heading {
    @include grid-column($columns: 12);
    text-align: center;
    margin-bottom: 0;
  }
}

.order_cookbooks_by {
  @include grid-column($columns: 8, $collapse: true);
  text-align: right;

  @media #{$mobile-only} {
    span {
      display: none;
    }
  }

  @media #{$small-only} {
    span {
      display: none;
    }
  }
}

@media #{$mobile-only} {
  .order_cookbooks_by {
    @include grid-column($columns: 12);
    text-align: center;
    margin: rem-calc(20 0 20 0);
  }
}

.versions_count {
  color: darken($primary_gray, 10%);
  font: {
    size: rem-calc(12);
    weight: $bold;
  }
  @include inline-block;
  margin: rem-calc(0 20 0 0);
}
