@import "common";

// Styles for the cookbooks directory

.cookbooks_columns {
  @include grid-row();
  margin-bottom: rem-calc(36);
}

.cookbooks_column {
  @include grid-column($columns: 4);

  .cookbooks_column_content {
    background-color: white;
    border: 1px solid $cookbook_border;
    text-align: center;
    padding: rem-calc(10);

    .button.expand {
      margin: rem-calc(16 0);
      width: 90%;
    }

    .title {
      border-bottom: 1px solid $cookbook_border;
      font-size: rem-calc(24);
      margin: 0;
      padding: rem-calc(16 0);
    }
  }
}

@media #{$mobile-only} {
  .cookbooks_column {
    @include grid-column($columns: 12);
    margin-bottom: rem-calc(20);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media #{$small-only} {
  .cookbooks_column {
    @include grid-column($columns: 12);
    margin-bottom: rem-calc(20);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.learn_about_cookbooks {
  @include grid-row();
  background: white;
  border: 1px solid $cookbook_border;
  margin: rem-calc(0 15 0 15);
  padding: rem-calc(20);
  width: auto;
}

.learn_about_cookbooks_content {
  @include grid-column($columns: 7);
}

.learn_about_cookbooks_sidebar {
  @include grid-column($columns: 5);
}

@media #{$mobile-only} {
  .learn_about_cookbooks_content {
    @include grid-column($columns: 12);
  }

  .learn_about_cookbooks_sidebar {
    @include grid-column($columns: 12);
  }
}

.cookbook_listing {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin-bottom: rem-calc(20);

    &:last-child {
      margin-bottom: rem-calc(40);
    }
  }
}
