@import "common";
@import "foundation/components/grid";
@import "foundation/components/block-grid";

// Styles for the cookbooks directory

.cookbooks_columns {
  @include block-grid(3);
  margin: rem-calc(55 0);
}

@media #{$mobile-only} {
  .cookbooks_columns {
    @include block-grid(1);
  }
}

@media #{$small-only} {
  .cookbooks_columns {
    @include block-grid(1);
  }
}

.cookbooks_column {
  .cookbooks_column_content {
    background-color: white;
    border: 1px solid $cookbook_border;
    text-align: center;
    padding: rem-calc(10);

    .button.expand {
      margin: rem-calc(16 0);
      width: 90%;
    }

    .title {
      border-bottom: 1px solid $cookbook_border;
      margin: 0;
      padding: rem-calc(16 0);
    }
  }
}

@media #{$mobile-only} {
  .cookbooks_column {
    margin-bottom: rem-calc(20);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media #{$small-only} {
  .cookbooks_column {
    margin-bottom: rem-calc(20);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.learn_about_cookbooks {
  @include grid-row();
  background: white;
  border: 1px solid $cookbook_border;
  padding: rem-calc(20);
  width: auto;
}

.learn_about_cookbooks_content {
  @include grid-column($columns: 7);
}

.learn_about_cookbooks_sidebar {
  @include grid-column($columns: 5);
}

@media #{$mobile-only} {
  .learn_about_cookbooks_content {
    @include grid-column($columns: 12);
  }

  .learn_about_cookbooks_sidebar {
    @include grid-column($columns: 12);
  }
}

.cookbook_listing {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin-bottom: rem-calc(20);

    &:last-child {
      margin-bottom: rem-calc(40);
    }
  }
}
