@import 'common';

.cookbooks_columns {
  margin-bottom: rem-calc(36);
}

.cookbooks_column {
  padding: rem-calc(12);

  &.first {
    padding-left: rem-calc(0);
  }

  &.last {
    padding-right: rem-calc(0);
  }

  .cookbooks_column_content {
    background-color: white;
    border: 1px solid $cookbook_border;
    text-align: center;

    .button.expand {
      margin: rem-calc(16 0);
      width: 90%;
    }

    .title {
      border-bottom: 1px solid $cookbook_border;
      font-size: rem-calc(24);
      margin: 0;
      padding: rem-calc(16 0);
    }
  }
}

@media #{$mobile-only} {
  .cookbooks_column {
    padding: rem-calc(12);
  }
}

.learn_about_cookbooks {
  background-color: white;
  border: rem-calc(1) solid $cookbook_border;
  padding: rem-calc(24 32);
}

.learn_about_cookbooks_content {
  padding-right: rem-calc(96);
}

@media #{$mobile-only} {
  .learn_about_cookbooks_content {
    padding-right: 0;
  }
}
