@import "common";
@import "compass/css3/inline-block";
@import "compass/css3/transition";
@import "compass/css3/border-radius";

.order_cookbooks_by {
  color: $primary_gray;

  font: {
    family: $accent_font;
    size: rem-calc(14);
  }

  line-height: rem-calc(36);

  a.button {
    background-color: darken($clouds, 5%);
    color: $concrete;
    @include inline-block;
    font: {
      size: rem-calc(14);
      weight: $normal;
    }
    margin-left: rem-calc(6);
    padding: rem-calc(9 20);
    @include single-transition(100ms);
    text-transform: none;

    &:hover {
      background-color: darken($clouds, 10%);
      color: darken($concrete, 5%);
    }

    &.dropdown {
      padding-right: rem-calc(57);

      &:before {
        border-color: $concrete rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
      }
    }

    &.active {
      background-color: $primary-color;
      @include border-radius(rem-calc(3));
      color: white;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }
}
