<div class="main" data-equalizer-watch>
  <h1 class="heading">
    <span itemprop="name"><%= tool.name %></span>
    <small itemprop="sampleType"><%= pretty_type(tool.type) %></small>
  </h1>

  <%= auto_link(simple_format(tool.description, itemprop: 'description')) %>

  <% if tool.instructions.present? %>
    <h3>Install & Usage Instructions</h3>
    <%= render_markdown tool.instructions %>
  <% end %>
</div>
