<div class="page withspace">
    <div class="buttons">
      <%= link_to 'Login with Chef Infra Server', auth_path(:chef_oauth2), method: :post, class: 'button radius expand', rel: 'sign_in_chef' %>
    </div>
  </div>
</div>
