<%= provide :title, 'Dashboard' %>

<div class="page">
  <h1>Dashboard</h1>

  <div class="row">
    <div class="small-12 medium-4 columns">
      <h2>Your Cookbooks</h2>
      <h2>Cookbooks You Collaborate On</h2>
      <h2>Community Links</h2>
    </div>

    <div class="small-12 medium-8 columns">
      <h2>Activity Feed</h2>
    </div>
  </div>
</div>
