<div class="page">
  <div class="title">
    Accept invitation to <%= @invitation.organization.name %>
  </div>

  <div class="content">
    <%= link_to 'Accept', @invitation, method: :put %>
    <%= link_to 'Decline', @invitation, method: :delete %>
  </div>
</div>
