<div class="page ccla invitation">
  <div class="title">
    Accept invitation to <%= @organization.name %>
  </div>

  <div class="content">
    <%= link_to 'Accept', @invitation, method: :put, class: 'accept', data: { organization: @organization.name } %>
    <%= link_to 'Decline', @invitation, method: :delete, class: 'decline', data: { organization: @organization.name } %>
  </div>
</div>
