<span class="stat"><span class="number"><%= pluralize(number_with_delimiter(cookbook_count), 'Cookbook') %></span></span>
<span class="stat"><span class="number"><%= pluralize(number_with_delimiter(user_count), 'Chef') %></span></span>
