<%= provide(:title, "Link GitHub Account") %>

<div class="page withspace">
  <h1>Link GitHub</h1>
  <p>In order for Supermarket to tie your GitHub commits with your signed CLA you must link your GitHub account with your Supermarket profile. By clicking the button below you'll be redirected to GitHub to authorize Supermarket with limited public access to your GitHub account.</p>
  <%= link_to '<i class="fa fa-github"></i> Connect GitHub'.html_safe, auth_path(:github), class: 'button radius expand', rel: 'connect_github' %>
</div>
