<h1>The CCLA has been signed by a new company.</h1>
<p><%= @ccla_signature.name %> signed the CCLA on behalf of <%= @ccla_signature.company %>.</p>
<%= link_to "View CCLA Signature", ccla_signature_url(@ccla_signature), class: "button signedcla" %>

<%= render 'ccla_signature', signature: @ccla_signature %>
