<h1>A new CCLA has been signed.</h1>
<p><%= @ccla_signature.name %> signed a CCLA on behalf of <%= @ccla_signature.company %>.</p>
<%= link_to "View Signed CCLA", ccla_signature_url(@ccla_signature), class: "button signedcla" %>

<%= render 'ccla_signature', signature: @ccla_signature %>
