<p>The <%= link_to @cookbook.name, cookbook_url(@cookbook) %> cookbook has been deprecated in favor of the <%= link_to @replacement_cookbook.name, cookbook_url(@replacement_cookbook) %> cookbook.</p>

<%= link_to 'Unsubscribe', unsubscribe_url(@unsubscribe_request) %>
