<h1>Your request to join <%= @organization_name %> has been declined.</h1>
<p>
  Your contributions to Chef Software, Inc.'s projects can still be automatically verified provided you <%= link_to 'sign an ICLA', new_icla_signature_url %>.
</p>
