<nav class="breadcrumbs show-for-large-up">
  <%= link_to 'Cookbooks', cookbooks_path %>
  <%= link_to cookbook.category.name, cookbooks_category_path(cookbook.category) if cookbook.category.present? %>
  <%= link_to cookbook.name, cookbook %>
</nav>
