<%= provide(:title, "#{@cookbook.name} Cookbook") %>
<%= provide(:description, "#{@cookbook.name} Cookbook (#{@latest_version.version}) #{@cookbook.supported_platforms.map(&:name).join(', ')}".strip) %>

<div class="cookbook_show" data-equalizer>
  <%= render 'main', cookbook: @cookbook, version: @latest_version, cookbook_versions: @cookbook_versions %>
  <%= render 'sidebar', cookbook: @cookbook, version: @latest_version, supported_platforms: @supported_platforms, owner: @owner, collaborators: @collaborators %>
</div>
