<% if @cookbook.valid? %>
  $('.cookbook-urls').html('<%=j render "cookbook_urls", cookbook: @cookbook %>');
  $('.cookbook-urls').show();
  $('.show-cookbook-urls-manage').show();
  $('.manage-cookbook-urls').hide();

  $('.page').append(
    '<div data-alert class="alert-box success"><div><%=j t("cookbook.update.success") %></div> <a href="#" class="close">&times;</a></div>'
  );

  $(document).foundation();
<% else %>
  $('.page').append(
    '<div data-alert class="alert-box alert"><div><%=j t("cookbook.update.failure") %></div> <a href="#" class="close">&times;</a></div>'
  );

  $(document).foundation();
<% end %>
