<%= provide(:title, "Documentation") %>
<%= provide(:description, "View and browse guides, documentation, and tutorials.") %>

<div class="page nobg">
  <div class="documentation_info">

    <h2>Documentation, Guides, Tutorials</h2>
    <p>Here is a list of guides, documentation, and tutorials from the Chef community about Supermarket.</p>

    <ul>
      <li><a href="https://www.chef.io/blog/2015/03/16/using-chef-supermarket-a-guided-tour/">Using Chef Supermarket: A Guided Tour</a></li>
      <li><a href="https://www.chef.io/blog/2015/05/15/public-supermarket-the-insiders-tour/">Public Supermarket: The Insider's Tour</a></li>
      <li><a href="https://www.chef.io/blog/2015/12/31/a-supermarket-of-your-own-running-a-private-supermarket/">A Supermarket of Your Own: Running a Private Supermarket</a></li>
      <li>
        <%= link_to 'Supermarket Docs', chef_docs_url('supermarket') %>
      </li>
    </ul>
  </div>
</div>
