//
// FOUNDATION SETTINGS
//

// Grid

$row-width: 100%;
$column-gutter: rem-calc(30);
$total-columns: 12;

// We use this to control font-smoothing
$font-smoothing: antialiased;


//
// BUTTONS
//

// $include-html-button-classes: $include-html-classes;

// We use this to control the display property.
// $button-display: inline-block;
$button-margin-bottom: rem-calc(0);

// We use these to control button text styles.
$button-font-family: $accent_font;
// $button-font-color: #fff;
// $button-font-color-alt: #333;
// $button-font-tny: rem-calc(11);
$button-font-sml: rem-calc(14);
// $button-font-med: rem-calc(16);
// $button-font-lrg: rem-calc(20);
// $button-font-weight: normal;
// $button-font-align: center;

// Forms

// We use these to style the fieldset border and spacing.
// $fieldset-border-style: solid;
$fieldset-border-width: 0;
// $fieldset-border-color: #ddd;
$fieldset-padding: rem-calc(20 0);
$fieldset-margin: rem-calc(0);

// We use these to style the legends when you use them
$legend-bg: #fff;
$legend-font-weight: bold;
$legend-padding: rem-calc(0 3);

// Off Canvas Menu Variables
// $off-canvas-width: 250px;
$off-canvas-bg: darken($primary_blue, 3%);

//
// TOOLTIPS
//

// $include-html-tooltip-classes: $include-html-classes;

// $has-tip-border-bottom: dotted 1px #ccc;
// $has-tip-font-weight: bold;
// $has-tip-font-color: #333;
// $has-tip-border-bottom-hover: dotted 1px scale-color($primary-color, $lightness: -55%);
// $has-tip-font-color-hover: $primary-color;
// $has-tip-cursor-type: help;

$tooltip-padding: rem-calc(5 10);
$tooltip-bg: $primary_blue;
$tooltip-font-size: rem-calc(10);
// $tooltip-font-weight: normal;
// $tooltip-font-color: #fff;
// $tooltip-line-height: 1.3;
// $tooltip-close-font-size: rem-calc(10);
// $tooltip-close-font-weight: normal;
// $tooltip-close-font-color: #777;
// $tooltip-font-size-sml: rem-calc(14);
// $tooltip-radius: $global-radius;
// $tooltip-pip-size: 5px;
