body {
  background-color: #ffffff;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAAAAACoBHk5AAAAHklEQVQI1wXBwREAIAACIPef187iFYRqYPE24RKnfGxTGEiCmPxJAAAAAElFTkSuQmCC');
  background-repeat: repeat;
  color: #333;
  margin: 0;

  > .container {
    @include outer-container()
  }
}
