// CLA Elements
.cla {
  margin: 0;

  .tabs { margin-bottom: 40px !important; }

  .agreement {
    .panel {
      max-height: rem-calc(1020);
      overflow: auto;
      -webkit-overflow-scrolling: touch;

      h1 { border: none; font-size: rem-calc(18); line-height: rem-calc(24); }
      h2 { font-size: rem-calc(14); line-height: rem-calc(24); }
      p, li, footer {
        font-size: rem-calc(12);
        margin-bottom: rem-calc(18);
      }
    }
  }
}

// Contributors List Elements
.contributors {
  table {
    width: 100%;
    margin-top: 1.5rem;
  }

  .heading {
    .left {

      h1 {
        margin-bottom: .2rem;
      }

      h4 {
        display: inline-block;

        &:first-of-type {
          border-right: solid 1px #000;
          padding-right: .5rem;
          margin-right: .5rem;
        }
      }
    }

    .right {
      text-align: right;

      ul { text-align: left; }
    }
  }
}
