@import "common";
@import "foundation/components/grid";

// CLA Elements
.cla {
  @include grid-row($behavior: nest);
  margin: 0;

  .tabs { margin-bottom: 40px !important; }

  .signature {
    @include grid-column(5, $collapse: true);
  }

  .contributors {
    @include grid-column(12, $collapse: true);
  }

  .agreement {
    @include grid-column(7);

    .panel {
      max-height: rem-calc(1020);
      overflow: auto;
      -webkit-overflow-scrolling: touch;

      h1 { border: none; font-size: rem-calc(18); line-height: rem-calc(24); }
      h2 { font-size: rem-calc(14); line-height: rem-calc(24); }
      p, li, footer {
        font-size: rem-calc(12);
        margin-bottom: rem-calc(18);
      }
    }
  }
}

.cla_signers_list {
  @include grid-row($behavior: nest);
}

// Contributors List Elements
.contributors {
  table {
    width: 100%;
    margin-top: 1.5rem;
  }

  .heading {
    @include grid-row($behavior: nest);

    .left {
      @include grid-column(8);

      h1 {
        margin-bottom: .2rem;
      }

      h4 {
        display: inline-block;

        &:first-of-type {
          border-right: solid 1px #000;
          padding-right: .5rem;
          margin-right: .5rem;
        }
      }
    }

    .right {
      @include grid-column(4);
      text-align: right;

      ul { text-align: left; }
    }
  }
}

.signers {
  @include grid-column(9);
  background-color: white;
  padding: rem-calc(35 25 35 25);
}


@media #{$mobile-only} {
  .signers {
    @include grid-column($columns: 12);
    padding: rem-calc(35 25 35 25);

    .heading {
      .left {
        width: 100%;
      }
      .right {
        width: 100%;
        padding-bottom: rem-calc(16);

        .button {
          width: 100%;
        }
      }
    }
  }
}

@media #{$small-only} {
  .signers {
    @include grid-column($columns: 12);
    padding: rem-calc(35 25 35 25);
  }
}

@media #{$xlarge-up} {
  .signers {
    @include grid-column($columns: 9);
  }
}

@media #{$redonkulous-up} {
  .signers {
    @include grid-column($columns: 9);
  }
}

#contribute_sidebar {
  @include grid-column(3);
  background: $sidebar_blue;
  padding: rem-calc(35 25 35 25);

  p {
    font-size: 80%;
  }
}


@media #{$mobile-only} {
  #contribute_sidebar {
    @include grid-column($columns: 12);
    padding: rem-calc(35 25 35 25);
  }
}

@media #{$small-only} {
  #contribute_sidebar {
    @include grid-column($columns: 12);
    padding: rem-calc(35 25 35 25);
  }
}

@media #{$xlarge-up} {
  #contribute_sidebar {
    @include grid-column($columns: 3);
  }
}

@media #{$redonkulous-up} {
  #contribute_sidebar {
    @include grid-column($columns: 3);
  }
}


.become_a_contributor {
  @include grid-row($behavior: nest);

  .become_a_contributor_content {
    @include grid-column(9);

    background-color: white;
    padding: rem-calc(35 25 35 25);
  }

  @media #{$mobile-only} {
    .become_a_contributor_content {
      @include grid-column($columns: 12);
      padding: rem-calc(35 25 35 25);
    }
  }

  @media #{$small-only} {
    .become_a_contributor_content {
      @include grid-column($columns: 12);
      padding: rem-calc(35 25 35 25);
    }
  }

  @media #{$xlarge-up} {
    .become_a_contributor_content {
      @include grid-column($columns: 9);
    }
  }

  @media #{$redonkulous-up} {
    .become_a_contributor_content {
      @include grid-column($columns: 9);
    }
  }
}
