@import "common";
@import "foundation/components/grid";
@import "compass/css3/border-radius";

.activity_heading {
  @include clearfix;
  border-bottom: rem-calc(2) solid lighten($secondary_gray, 35%);

  a {
    float: right;
    font: $bold rem-calc(12) $default_font;
    text-decoration: underline;
  }

  h3 {
    float: left;
    margin-bottom: rem-calc(20);
  }
}

.activity_list {
  border-collapse: collapse;
  display: table;
  list-style-type: none;
  margin: 0;
  width: 100%;

  a {
    text-decoration: underline;
  }

  li {
    border-bottom: rem-calc(2) solid lighten($secondary_gray, 36%);
    display: table-row;
    padding: rem-calc(10 0 10 0);
    vertical-align: bottom;

    > * {
      display: table-cell;
      padding: rem-calc(10 0 10 0);
    }

    .date {
      text-align: right;
    }
  }

  @media #{$mobile-only} {
    li {
      font-size: rem-calc(13);
    }
  }
}

.dashboard {
  @include grid-row();
  background: white;
  color: $secondary_gray;
  position: relative;
  z-index: 1;

  .gravatar {
    @include border-radius(rem-calc(40));
    display: inline-block;
    height: rem-calc(40);
    margin-right: rem-calc(10);
    width: rem-calc(40);
  }
}

.dashboard_content {
  @include grid-column($columns: 9);
  padding: rem-calc(55);
}

@media #{$mobile-only} {
  .dashboard_content {
    @include grid-column($columns: 12);
  }
}

@media #{$small-only} {
  .dashboard_content {
    @include grid-column($columns: 12);
  }
}

.dashboard_sidebar {
  @include grid-column($columns: 3);
  background: $sidebar_blue;
  padding: rem-calc(55 25 55 25);

  .button {
    margin-bottom: rem-calc(40);
  }

  .cookbook_listing {
    margin-bottom: rem-calc(40);
  }

  h4, h5 {
    border-bottom: rem-calc(2) solid lighten($secondary_gray, 30%);
    margin-bottom: 0;
    padding-bottom: rem-calc(8);
  }

  ol {
    font-size: rem-calc(14);
    line-height: rem-calc(20);
    margin-bottom: rem-calc(30);

    li {
      margin-bottom: rem-calc(10);
    }
  }

  p {
    font-size: rem-calc(14);
    margin: rem-calc(20 0 20 0);
  }

  ul.resources {
    list-style-type: square;
    margin-top: rem-calc(10);
    font-size: rem-calc(12);

    a {
      color: $secondary_gray;
      text-decoration: underline;
    }
  }
}

@media #{$mobile-only} {
  .dashboard_sidebar {
    @include grid-column($columns: 12);
  }
}

@media #{$small-only} {
  .dashboard_sidebar {
    @include grid-column($columns: 12);
  }
}

.explore_cookbooks {
  margin-top: rem-calc(50);
  text-align: center;

  .button {
    width: rem-calc(350);
  }

  h2 {
    margin-bottom: 0;
  }
}
