.flash {
  cursor: pointer;
  display: block;
  margin: -1px 0 0 0; // Move up 1px to overlay the border-bottom header
  padding: 1em 0;
  text-align: center;

  .close {
    color: inherit;
    float: right;
    font-weight: bold;
    margin-right: 1em;
    opacity: 0.5;
    text-decoration: none;
    @include transition(opacity 0.25s ease-in-out);

    &:hover {
      opacity: 1
    }
  }

  &.notice {
    background: $secondary-yellow;
    color: darken($secondary-yellow, 30%);
  }

  &.alert {
    background: $secondary-red;
    color: lighten($secondary-red, 50%);
  }

  &.success {
    background: $secondary-green;
    color: darken($secondary-green, 25%);
  }

  &.dismissed {
    height: 0;
    line-height: 0;
    overflow: hidden;
    padding: 0;
    @include transition(all 0.2s ease-in-out);
    zoom: 1;
  }
}
