.flash {
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 1em 0;
  text-align: center;

  .close {
    float: right;
    font-weight: bold;
    margin-right: 1em;
    opacity: 0.25;
    text-decoration: none;
    @include transition(opacity 0.25s ease-in-out);

    &:hover {
      opacity: 0.5
    }
  }

  &.notice {
    background: $secondary-yellow;
    color: darken($secondary-yellow, 25%);
  }

  &.alert {
    background: $secondary-red;
    color: darken($secondary-red, 25%);
  }

  &.dismissed {
    height: 0;
    line-height: 0;
    overflow: hidden;
    padding: 0;
    @include transition(all 0.2s ease-in-out);
    zoom: 1;
  }
}
