@import url(http://fonts.googleapis.com/css?family=Montserrat:400;700);

* {
  font-family: $helvetica;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $gotham;
  font-weight: normal;
  text-transform: uppercase;
};
