@mixin oc-logo {
  background-image: image-url('opscode-logo.png');
  background-repeat: no-repeat;
  background-position: 0 5px;
  background-size: 34px;
  color: white;
  font-family: $gotham;
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 0.025em;
  padding-left: 43px;
  text-decoration: none;
  text-transform: uppercase;
}

@mixin oc-logo-tagline {
  color: $primary-orange;
  display: block;
  font-family: $gotham;
  font-size: 11px;
  font-weight: normal;
  letter-spacing: 0;
  margin-top: -2px;
  margin-left: 2px;
}

body > header {
  @include row;

  @include linear-gradient($primary-blue, darken($primary-blue, 10%));
  border-bottom: 1px solid lighten($primary-blue, 35%);
  padding: 0 0.75em;

  .logo {
    @include span-columns(1 of 2);
    display: inline;
    margin-top: 5px;
    margin-bottom: 5px;

    a {
      text-decoration: none;

      h1 {
        @include oc-logo;
        margin: 0;

        span {
          @include oc-logo-tagline;
        }
      }
    }
  }

  nav {
    @include span-columns(1 of 2);
    text-align: right;

    a {
      color: lighten($primary-blue, 50%);
      font-size: 0.80em;
      text-transform: uppercase;
      text-decoration: none;
      @include transition(all 0.2s ease-in-out);

      &:hover {
        color: #fff;
      }

      &:active {
        color: #bbb;
      }
    }

    ul {
      margin-bottom: 4px;
      margin-top: 10px;

      li {
        display: inline;
        line-height: 1.5;
        margin-left: 1em;

        a {
          white-space: nowrap;
        }
      }
    }
  }
}
