body > header {
  @include row;
  background: $primary-blue;
  line-height: 1.0;
  overflow: hidden;
  width: 100%;

  @include mobile {
    text-align: center;
  }

  a.logo {
    color: #fff;
    @include inline-block;
    font-family: $gotham;
    font-size: 21px;
    letter-spacing: 0.1em;
    margin: 1em 0;
    text-decoration: none;
    text-transform: uppercase;

    @include mobile {
      margin-bottom: 0.25em;
    }

    &:before {
      @include retina-image('opscode-logo', 46px 40px);
      content: ' ';
      @include inline-block;
      float: left;
      height: 40px;
      margin-right: 0.5em;
      width: 46px;
    }

    span {
      text-align: center;

      span {
        color: $primary-orange;
        display: block;
        font-size: 11px;
        letter-spacing: 0.05em;
        margin-top: 0.25em;
      }

    }
  }

  nav {
    float: right;
    overflow: scroll;
    white-space: nowrap;

    @include mobile {
      @include inline-block;
      width: 100%;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        @include inline-block;
        margin: 0;
        padding: 0;
      }
    }

    a {
      color: #fff;
      display: block;
      font-family: $gotham;
      font-size: 0.9em;
      margin: 0;
      padding: 2.5em 1em;
      text-transform: uppercase;
      text-decoration: none;
      @include transition(all 0.2s ease-in-out);

      @include mobile {
        padding: 1em;
        margin: 0;
      }

      &:hover {
        background: lighten($primary-blue, 10%);
        color: #fff;
      }

      &:active {
        color: #bbb;
      }
    }
  }
}
