@import "common";
@import "foundation/components/grid";
@import "compass/css3/transition";

// Basic structural elements
html, body { height: 100%; min-height: 100%; }

@media #{$mobile-only} {
  html, body, h1, h2, h3, h4, h5, h6 { font-size: 84%; }
}

@media #{$small-only} {
   html, body, h1, h2, h3, h4, h5, h6 { font-size: 86%; }
}

@media #{$medium-only} {
  html, body, h1, h2, h3, h4, h5, h6 { font-size: 90%; }
}

@media #{$xlarge-up} {
  html, body, h1, h2, h3, h4, h5, h6 { font-size: 110%; }
}

@media #{$redonkulous-up} {
  html, body, h1, h2, h3, h4, h5, h6 { font-size: 130%; }
}

body {
  background-color: $clouds;
  margin: 0;
}

hr {
  border: 2px solid #ecedef;
  margin-bottom: rem-calc(20);
}

fieldset {
  border: none;
  padding: 0;
  margin: rem-calc(0 0 20);

  legend {
    background: white;
    font-weight: 600;
    padding-bottom: rem-calc(10);
  }
}

.container {
  @include grid-row();
  min-height: 100%;
}

.page {
  background-color: white;
  @include grid-column(12);
  padding: rem-calc(40 55 55);

  &.nobg {
    background-color: transparent;
  }
}

@media #{$mobile-only} {
  .page {
    padding: rem-calc(20);
  }
}

@media #{$small-only} {
  .page {
    padding: rem-calc(20);
  }
}

.footer {
  color: #999;
  font-size: rem-calc(11);
  padding: rem-calc(40);
  text-align: center;
}

.hardcoded {
  border: 2px solid #E00404;
}

button, .button {
  @include single-transition(background-color, $duration: 100ms);
  background: $secondary_blue;
  margin-bottom: rem-calc(0);
  font-family: $accent_font;

  &.small {
    font-size: rem-calc(14);
  }
}

.tooltip {
  background: $primary_blue;
  padding: rem-calc(5 10);
  font-size: rem-calc(10);
}

// User Elements
.user {
  table { width: 100%; }
  .content { float: none; }

  .tabls-content {
    height: 100%;
  }

  .gravatar {
    font-size: .8rem;
    margin: 0;

    img {
      border-radius: 4px;
      margin-right: 10px;
    }
  }

  .profile {
    @include grid-row($behavior: nest);

    .avatar {
      @include grid-column(3);

      img {
        margin-top: 1rem;
        border-radius: 4px;
      }
    }

    .info {
      @include grid-column(9);

      ul {
        list-style-type: none;
        margin: 0 0 1rem 0;

        li {
          display: inline-block;
          margin: 0 1rem .5rem 0;
        }
      }
    }
  }
}

// CLA Elements
.cla {
  @include grid-row($behavior: nest);
  margin: 0;

  .tabs { margin-bottom: 40px !important; }

  .signature {
    @include grid-column(5, $collapse: true);
  }

  .contributors {
    @include grid-column(12, $collapse: true);
  }

  .agreement {
    @include grid-column(7);

    .panel {
      max-height: rem-calc(1020);
      overflow: auto;
      -webkit-overflow-scrolling: touch;

      h1 { border: none; font-size: rem-calc(18); line-height: rem-calc(24); }
      h2 { font-size: rem-calc(14); line-height: rem-calc(24); }
      p, li, footer {
        font-size: rem-calc(12);
        margin-bottom: rem-calc(18);
      }
    }
  }
}

// Contributors List Elements
.contributors {
  table {
    width: 100%;
    margin-top: 1.5rem;
  }

  .heading {
    @include grid-row($behavior: nest);

    .left {
      @include grid-column(8);

      h1 {
        margin-bottom: .2rem;
      }

      h4 {
        display: inline-block;

        &:first-of-type {
          border-right: solid 1px #000;
          padding-right: .5rem;
          margin-right: .5rem;
        }
      }
    }

    .right {
      @include grid-column(4);
      text-align: right;

      ul { text-align: left; }
    }
  }
}

// Select2 Customizations
.select2-container-multi .select2-choices .select2-search-field input {
  padding: rem-calc(8) !important;
}

.select2-container-multi .select2-choices {
    min-height: rem-calc(37) !important;
}

.select2-container-multi .select2-choices .select2-search-choice {
  line-height: rem-calc(13);
  margin: rem-calc(2 0 3 3);
  padding: rem-calc(8 10 8 26);
}

.select2-container .select2-choice {
  height: rem-calc(37);
  border-radius: 0;
}

.select2-container .select2-choice .select2-arrow {
  border-radius: 0;
}

.select2-chosen {
  margin-top: 3px;
}

.select2-container .select2-choice .select2-arrow b {
  background-size: 60px 60px !important;
}

@media #{$mobile-only} {
  .select2-container-multi .select2-choices .select2-search-choice {
    margin: rem-calc(1 0 3 3);
  }
}

@media #{$small-only} {
  .select2-container-multi .select2-choices .select2-search-choice {
    margin: rem-calc(1 0 3 3);
  }
}

.select2-search-choice-close {
  left: rem-calc(8);
  top: rem-calc(8);
}

@media #{$mobile-only} {
  .select2-search-choice-close {
    left: rem-calc(6);
    top: rem-calc(6);
  }
}

@media #{$small-only} {
  .select2-search-choice-close {
    left: rem-calc(6);
    top: rem-calc(6);
  }
}

@media #{$medium-only} {
  .select2-search-choice-close {
    left: rem-calc(6);
    top: rem-calc(5);
  }
}

.left-off-canvas-menu {
  background: #1a3241;
}

ul.off-canvas-list li a {
  border-bottom: 1px solid #132631;
}
