@import "common";

h1, h2, h3, h4, h5, h6 {
  font-family: join("Montserrat", $body-font-family);
  font-weight: 400;
  color: saturate(lighten($primary_gray, 20%), 13%);
  line-height: 1.4;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: rem-calc(25);
}

h2 {
  font-size: rem-calc(20);
}

h3 {
  font-size: rem-calc(18);
}

h4 {
  font-size: rem-calc(14);
}

h5 {
  font-size: rem-calc(12);
}

h6 {
  font-size: rem-calc(10);
}

small {
  font-size: 60%;
  color: scale-color($header-font-color, $lightness: 35%);
}

a {
  color: $secondary_blue;
}

p {
  line-height: 1.8;
  margin-bottom: rem-calc(24);
}

blockquote {
  color: scale-color($header-font-color, $lightness: 35%);
  padding: rem-calc(9 20 0 19);
  border: solid 1px #ddd;
}
