@import "common";
@import "compass/css3/border-radius";
@import "compass/css3/images";

.gravatar {
  @include border-radius(rem-calc(100));
}


.profile {
  @include background-image(linear-gradient(right, white, white 75.4%, lighten($clouds, 4%) 75.4%, lighten($clouds, 4%) 100%));
}

.profile_content {
  padding-top: rem-calc(40);

  .heading {
    @include clearfix;
    border-bottom: rem-calc(2) solid lighten($secondary_gray, 30%);
    margin-bottom: rem-calc(30);

    h1 {
      border-bottom: none;
      margin: 0;
      float: left;
    }

    .tabs {
      float: right;
      border-bottom: none;
      margin-bottom: rem-calc(-1) !important;
    }
  }
}

.profile_sidebar {
  text-align: center;
  padding: rem-calc(40);

  .gravatar {
    margin-bottom: rem-calc(20);
  }

  h3, h4, h5 {
    margin: 0;
  }

  ul {
    list-style-type: none;
    text-align: left;
    margin: rem-calc(20 0 0 0);
    padding-top: rem-calc(20);
    border-top: rem-calc(2) solid lighten($secondary_gray, 30%);

    .fa {
      padding-right: rem-calc(5);
      color: $secondary_gray;
    }

    .has-tip, a {
      color: saturate(lighten($primary_gray, 20%), 13%);
      border-bottom: none;
      font: {
        size: rem-calc(14);
      }
    }
  }

  .user_stats {
    border: rem-calc(1) solid lighten($secondary_gray, 30%);
    margin: rem-calc(20 0 20 0);

    h3 {
      margin: 0;
      text-align: center;
      padding: rem-calc(10 0 10 0);

      span {
        display: block;
        font-size: rem-calc(11);
      }
    }

    li {
      border-right: rem-calc(1) solid lighten($secondary_gray, 30%);
      background: #fff;

      &:last-child {
        border-right: none;
      }
    }
  }
}
