// Chef Default Colors
$primary_orange: #f8971d;
$primary_gray: #5c6f7c;
$primary_blue: #1e3b4c;
$secondary_gray: #959ca2;
$secondary_blue: #79bde8;
$secondary_green: #73cbc8;
$secondary_yellow: #fcb713;
$secondary_red: #7c3a00;
$sidebar_blue: #f8f9fa;
$body-bg: #ecf0f1;
$body-font-color: #222;
$primary-color: #79bde8;
$header-font-color: saturate(lighten($primary_gray, 20%), 13%);

// Layout Defaults
$body-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$row-width: 100%;
$column-gutter: rem-calc(30);
$total-columns: 12;

// Media Query Breaks
$mobile-range: (0em, 32em);
$small-range: (32.063em, 55em);
$medium-range: (55.063em, 64em);
$large-range: (64.063em, 90em);
$xlarge-range: (90.063em, 120em);
$xxlarge-range: (120.063em);

$screen: "only screen";

$landscape: "#{$screen} and (orientation: landscape)";
$portrait: "#{$screen} and (orientation: portrait)";

$mobile-only: "#{$screen} and (max-width: #{upper-bound($mobile-range)})";

$small-up: $screen;
$small-only: "#{$screen} and (min-width:#{lower-bound($small-range)}) and (max-width:#{upper-bound($small-range)})";

$medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})";
$medium-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})";

$large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})";
$large-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width:#{upper-bound($large-range)})";

$xlarge-up: "#{$screen} and (min-width:#{lower-bound($xlarge-range)})";
$xlarge-only: "#{$screen} and (min-width:#{lower-bound($xlarge-range)}) and (max-width:#{upper-bound($xlarge-range)})";

$xxlarge-up: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)})";
$xxlarge-only: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)}) and (max-width:#{upper-bound($xxlarge-range)})";

$redonkulous-up: "#{$screen} and (min-width:127em)";

// Category Colors
$category_applications: #b1dcf0;
$category_databases: #5c6f7c;
$category_monitoring_and_trending: #f8971d;
$category_networking: #7c3a00;
$category_package_management: #f1c40f;
$category_process_management: #73cbc7;
$category_programming_languages: #82a0ad;
$category_utilities: #c4cdd2;
$category_web_servers: #51c15c;
$category_other: #9b59b6;

// Flatuicolors.com Palette
$clouds: #ecf0f1;
$silver: #bdc3c7;
$concrete: #95a5a6;
$asbestos: #7f8c8d;

// Cookbook Partials
$cookbook_border: #d4dbdf;
$cookbook_footer: #f0f6f7;
$cookbook_partial_sidebar: #dfe6eb;
$cookbook_partial_sidebar_footer: #dbe2e7;

// Fonts

// Custom Fonts
/*
Platform icon letter mapping

A AWS
B centOS
C Debian
D Fedora
E FreeBSD
F Linux Mint
G Mac OSX
H Oracle
I Red Hat
J Scientific
K SmartOS
L SUSE
M Ubuntu
N Windows
O Generic

*/
@font-face {
  font-family: "platform_icons";
  src: url(image-path('platform_icons.ttf'));
  src: url(image-path('platform_icons?#iefix')) format('embedded-opentype'),
       url(image-path('platform_icons.woff')) format('woff'),
       url(image-path('platform_icons.ttf')) format('truetype'),
       url(image-path('platform_icons.svg#platform_icons')) format('svg');
  font-weight: normal;
  font-style: normal;
}

$default_font: "helvetica neue", helvetica, arial, sans-serif;
$accent_font: "Montserrat", $default_font;
$bold: 700;
$normal: 400;
