/* Colors */
$primary-blue: #435363;
$primary-orange: #F18A20;

$secondary-gray: #7C858C;
$secondary-blue: #6BB1E1;
$secondary-green: #59B6B2;
$secondary-yellow: #FCB614;
$secondary-red: #6D3528;

/* Paragraph */
$font-size: 16px;
$line-height: 24px;

/* Radius */
$radius: 2px;

/* Buttons */
$button-height: 30px;
$button-radius: $radius;

/* Fonts */
$gotham: Gotham, Montserrat, sans-serif;

/* Responsive */
$breakpoint: 480px;
