# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
.DS_Store
.sass-cache

# Let developers choose their RSpec options
.rspec

# The Gemfile declares Ruby 2.0, so let's not argue over patch levels
.rbenv-version
.rvmrc
.direnv

# Ignore Vagrant-specific things
.vagrant/

# Ignore Test Kitchen
.kitchen/
.kitchen.local.yml

# Ignore Node modules used by the JS test runner
node_modules/

# Ignore built documentation
.yard/
.yardoc/
.yardopts
doc/

# Ignore vendored gems
vendor/gems
vendor/ruby

# Ignore any Opscode-specific fixture data
db/fixtures

# Ignore Coveralls related files
coverage/

# Ignore Paperclip uploads locally
public/system

# Ignore Redis dumps
*.rdb

# Ignore the generated sitemap
public/sitemap*

# Ignore local configuration
.env.development
.envrc

# Ignore branding adjustments, user should track that separately
# (ref app/assets/stylesheets/branding/README.md).
app/assets/stylesheets/branding
app/assets/images/branding
results/
