<div class="announcement_banner">
  <div class="announcement_banner_header">
    <h3>Supermarket is Now Open. Here is what you should know.</h3>
  </div>

  <div class="announcement_banner_content">
    <div class="announcement_info">
      <h3>We&#8217;re Hiring</h3>

      <p>As we continue to support the efforts of the amazing Chefs in the community, we plan to hire additional engineers to help continue the progress we have already made. These engineers will work closely with the community and help shape the direction of Supermarket. If you want to come work with amazing coworkers and a vibrant community, please take a look at our job postings for a <%= link_to 'Software Development Engineer', chef_www_url('careers/om5bZfwl') %> and a <%= link_to 'User Experience Engineer', chef_www_url('careers/o2abZfw6') %>.</p>
    </div>
    <div class="announcement_info">
      <h3>Giveaways and Prizes</h3>

      <p>What would grand opening be without a giveaway? In keeping with the supermarket theme, we are giving away a t-shirt to everyone that completes the <a href="http://evocalize.com/consumer/rs/chef/supermarket">survey</a> about Supermarket by 2014&#8211;08&#8211;08 23:59:59 UTC. But why stop there? We will be randomly selecting two of the people who complete the survey to each win free registration to the <%= link_to 'Chef Community Summit, October 2nd and 3rd, 2014.', chef_blog_url('event/chef-community-summit') %></p>
    </div>
    <div class="announcement_info">
      <h3>Supermarket Belongs to the Community</h3>

      <p>Supermarket belongs to the community. While Chef has the responsibility to keep it running and be stewards of its functionality, what it does and how it works is driven by the community. The <a href="https://github.com/chef/supermarket">chef/supermarket</a> repository will continue to be where development of the Supermarket application takes place. Come be part of shaping the direction of Supermarket by opening issues and pull requests or by joining us on the <a href="https://groups.google.com/forum/#!forum/chef-supermarket">supermarket mailing list</a> or in <a href="https://gitter.im/chef/supermarket">Gitter</a>.</p>
    </div>
  </div>
</div>
