<div class="beta_banner">
  <div class="beta_banner_header">
    <h3>Supermarket is currently in Beta. Here is what you should know.</h3>
  </div>

  <div class="beta_banner_content">
    <div class="beta_info beta_dragons">
      <h3>Here Be Dragons</h3>
      <p>
        Supermarket is the new Chef community site and is under active
        development. Things are changing and being added. Actions on Supermarket
        will not be synced with the previous community site. Knife and Berkshelf
        have not yet been updated to use the Supermarket API endpoints.
      </p>
    </div>
    <div class="beta_info beta_help">
      <h3>How You Can Help</h3>
      <p>
        Thank you for using Supermarket. We would appreciate any feedback.
        The codebase is <a href="https://github.com/opscode/supermarket">open source</a>,
        and development is transparent.
        Feel free <a href="https://github.com/opscode/supermarket/issues/new">open an issue on GitHub</a>,
        <a href="https://trello.com/b/IGLbkBWL/supermarket">follow along in Trello</a>,
        <a href="https://gitter.im/opscode/supermarket">chat with us in Gitter</a> or
        <a href="https://groups.google.com/forum/#!forum/chef-supermarket">post to the Supermarket mailing list</a>.
      </p>
    </div>
  </div>
</div>
