<div class="beta_banner">
  <div class="beta_banner_header">
    <h3>Supermarket is Now Open. Here is what you should know.</h3>
  </div>

  <div class="beta_banner_content">
    <div class="beta_info beta_dragons">
      <h3>We&#8217;re Hiring</h3>

      <p>As we continue to support the efforts of the amazing Chefs in the community, we plan to hire two additional engineers to help continue the progress we have already made. These two engineers will work closely with the community and help shape the direction of Supermarket. If you want to come with amazing coworkers and a vibrant community, please take a look at our job postings for a <a href="http://www.getchef.com/careers/om5bZfwl/">Software Development Engineer</a> and a <a href="http://www.getchef.com/careers/o2abZfw6/">User Experience Engineer</a>.
      </p>
    </div>
    <div class="beta_info beta_meaning">
      <h3>Giveaways and Prizes</h3>

      <p>What would grand opening be without a giveaway? In keeping with the supermarket theme, we are giving away a t-shirt to everyone that completes the <a href="http://evocalize.com/consumer/rs/chef/supermarket">survey</a> about Supermarket by 2014&#8211;08&#8211;15 23:59:59 UTC. But why stop there? We will be randomly selecting two of the people who complete the survey to each win a ticket to the <a href="http://www.getchef.com/blog/event/chef-community-summit/">Chef Community Summit, October 2nd and 3rd, 2014</a>.</p>
    </div>
    <div class="beta_info beta_data">
      <h3>Supermarket Belongs to the Community</h3>

      <p>While we here at Chef have the responsibility to keep it running and be stewards of its functionality, what it does and how it works is driven by the community. The <a href="https://github.com/opscode/supermarket">opscode/supermarket</a> repo will continue to be where development of the Supermarket application takes place. Come be part of shaping the direction of Supermarket by opening issues and pull requests.</p>
    </div>
  </div>
</div>
