<div class="beta_banner">
  <div class="beta_banner_header">
    <h3>Supermarket is currently in Beta. Here is what you should know.</h3>
  </div>

  <div class="beta_banner_content">
    <div class="beta_info beta_dragons">
      <h3>Here Be Dragons</h3>
      <p>
        Supermarket is under heavy development. If you find rough edges, we hope you'll let us know!
        <a href="https://github.com/opscode/supermarket/issues/new">Open an issue</a> on GitHub,
        <a href="https://trello.com/b/IGLbkBWL/supermarket">follow development progress</a> in Trello,
        <a href="https://gitter.im/opscode/supermarket">chat with us</a> in Gitter or
        <a href="https://groups.google.com/forum/#!forum/chef-supermarket">start a discussion</a> on the Supermarket mailing list</a>.
        Supermarket is <a href="https://github.com/opscode/supermarket">open source</a> and enthusiastically welcomes new contributors.
      </p>
    </div>
    <div class="beta_info beta_switch">
      <h3>You can try it out</h3>
      <p>
        Using Supermarket instead of <a href="http://community.opscode.com">community.opscode.com</a>
        will help us improve Supermarket. For API consumers, <code>supermarket.getchef.com/api/v1</code> can replace <code>community.opscode.com/api/v1</code>.
        Knife users can test out Supermarket by installing the <a href="https://github.com/cwebberOps/knife-supermarket">knife supermarket</a> plugin.
      </p>
      <p>
        While we won't be backporting any data from Supermarket to <a href="http://community.opscode.com">community.opscode.com</a>,
        we will be migrating data from <a href="http://community.opscode.com">community.opscode.com</a> to Supermarket throughout the beta.
      </p>
    </div>
  </div>
</div>
