<div class="beta_banner row">
  <div class="beta_banner_header small-12 columns">
    <h3>Supermarket is currently in Beta. Here is what you should know.</h3>
  </div>

  <div class="beta_banner_content small-12 columns">
    <div class="row">
      <div class="beta_info beta_dragons small-12 medium-4 columns">
        <h3>Here Be Dragons</h3>
        <p>
          Supermarket is under heavy development. If you find rough edges, we hope you'll let us know!
          <a href="https://github.com/opscode/supermarket/issues/new">Open an issue</a> on GitHub,
          <a href="https://trello.com/b/IGLbkBWL/supermarket">follow development progress</a> in Trello,
          <a href="https://gitter.im/opscode/supermarket">chat with us</a> in Gitter or
          <a href="https://groups.google.com/forum/#!forum/chef-supermarket">start a discussion</a> on the Supermarket mailing list</a>.
          Supermarket is <a href="https://github.com/opscode/supermarket">open source</a> and enthusiastically welcomes new contributors.
        </p>
      </div>
      <div class="beta_info beta_meaning small-12 medium-4 columns">
        <h3>It's meant to be used</h3>
        <p>
          Using Supermarket instead of <a href="http://community.opscode.com">community.opscode.com</a>
          will help us improve Supermarket. For API consumers, <code>supermarket.getchef.com/api/v1</code> can replace <code>community.opscode.com/api/v1</code>.
          Knife users can test out Supermarket by installing the <a href="https://github.com/cwebberOps/knife-supermarket">knife supermarket</a> plugin.
        </p>
      </div>
      <div class="beta_info beta_data small-12 medium-4 columns">
        <h3>Your stuff is already here</h3>
        <p>
          We've imported everything from <a href="http://community.opscode.com">community.opscode.com</a> to Supermarket
          and will continue to keep Supermarket up-to-date until the beta period is over.
          During the beta, we will not backport data from Supermarket to <a href="http://community.opscode.com">community.opscode.com</a>.
          For example, if you share a cookbook on Supermarket, it will not exist on the Opscode Community Site.
        </p>
      </div>
    </div>
  </div>
</div>
