<div class="row">
	<% flash.each do |name, msg| %>
	  <% if msg.is_a?(String) %>
	    <div data-alert class="alert-box <%= name == :notice ? "success" : "alert" %>">
	      <%= content_tag :div, msg %>
	      <a href="#" class="close">&times;</a>
	    </div>
	  <% end %>
	<% end %>
</div>