@import "common";
@import "compass/css3/border-radius";
@import "foundation/components/grid";
@import "foundation/components/block-grid";

.gravatar {
  @include border-radius(rem-calc(200));
}

.view_profile {
  @include grid-row();
  background: white;
}

.profile_content {
  @include grid-column($columns: 8);
  padding: rem-calc(40);

  .heading {
    @include clearfix;
    border-bottom: rem-calc(2) solid lighten($secondary_gray, 30%);
    margin-bottom: rem-calc(30);

    h1 {
      border-bottom: none;
      float: left;
      margin: 0;
    }

    @media #{$mobile-only} {
      h1 {
        float: none;
        margin-bottom: rem-calc(30);
      }
    }

    .tabs {
      border-bottom: none;
      float: right;
      margin-bottom: rem-calc(-1) !important;
    }

    @media #{$mobile-only} {
      .tabs {
        float: none;
      }
    }
  }
}

@media #{$mobile-only} {
  .profile_content {
    @include grid-column($columns: 12);
  }
}

@media #{$small-only} {
  .profile_content {
    @include grid-column($columns: 12);
  }
}

@media #{$xlarge-up} {
  .profile_content {
    @include grid-column($columns: 9);
  }
}

@media #{$redonkulous-up} {
  .profile_content {
    @include grid-column($columns: 9);
  }
}

.profile_sidebar {
  @include grid-column($columns: 4, $collapse: true);
  background: $sidebar_blue;
  padding: rem-calc(40);
  text-align: center;

  h3, h4, h5 {
    margin: 0;
  }

  h4 img {
    margin-right: 5px;
  }

  ul {
    border-top: rem-calc(2) solid lighten($secondary_gray, 30%);
    list-style-type: none;
    text-align: left;
    margin: rem-calc(20 0 0 0);
    padding-top: rem-calc(20);

    .fa {
      color: $secondary_gray;
      padding-right: rem-calc(5);
    }

    .has-tip, a {
      border-bottom: none;
      color: saturate(lighten($primary_gray, 20%), 13%);
      font-size: rem-calc(14);
    }
  }

  .gravatar {
    margin-bottom: rem-calc(20);
  }

  .button {
    margin-bottom: rem-calc(20);
  }

  .user_stats {
    @include block-grid(3, $spacing: 0);
    border: rem-calc(1) solid lighten($secondary_gray, 30%);
    margin: rem-calc(20 0 20 0);

    h3 {
      margin: 0;
      padding: rem-calc(10 0 10 0);
      text-align: center;

      span {
        display: block;
        font-size: rem-calc(11);
      }
    }

    a {
      display: block;

      &:hover {
        background: lighten($primary_gray, 50%);
      }
    }

    li {
      background: #fff;
      border-right: rem-calc(1) solid lighten($secondary_gray, 30%);

      &:last-child {
        border-right: none;
      }
    }
  }
}

@media #{$mobile-only} {
  .profile_sidebar {
    @include grid-column($columns: 12);
  }
}

@media #{$small-only} {
  .profile_sidebar {
    @include grid-column($columns: 12);
  }
}

@media #{$xlarge-up} {
  .profile_sidebar {
    @include grid-column($columns: 3);
  }
}

@media #{$redonkulous-up} {
  .profile_sidebar {
    @include grid-column($columns: 3);
  }
}
