<%= provide(:title, "Become a Contributor") %>
<%= provide(:description, "Walk through the steps to become a contributor to Chef Software, Inc.'s open sourcep projects.") %>

<div class="become_a_contributor"  data-equalizer>
  <div class="become_a_contributor_content" data-equalizer-watch>
    <h1>Become a Contributor</h1>
    <p>Information on how to become a contributor to Chef Software, Inc.'s open source projects.</p>

    <p>View all contributors [link to all table here]</p>
  </div>

  <%= render "contributors/sidebar" %>
</div>

