form.new_icla_signature {
  section {
    @include row;
  }

  .icla-header {
    > h1 {
      font-family: $helvetica;
      margin: 2em 0 0 0;
      text-align: center;
      text-transform: none;
    }

    > h2 {
      font-family: $helvetica;
      margin: 0 0 1em 0;
      text-align: center;
      text-transform: none;
    }
  }

  .icla-body {
    footer {
      @include row;
      margin: 1em 0 1em 0;
      text-align: right;
    }
  }

  .agreement {
    @include row;

    p {
      @include span-columns(10);
      margin-top: 0;
    }

    fieldset {
      @include span-columns(2);
    }
  }

  /*
   * Input-specific styles
   */
  @include desktop {
    // Row 1
    input#icla_signature_prefix {
      @include span-columns(1);
    }

    input#icla_signature_first_name, input#icla_signature_middle_name {
      @include span-columns(3);
    }

    input#icla_signature_last_name {
      @include span-columns(4);
    }

    input#icla_signature_suffix {
      @include span-columns(1);
    }

    // Row 2
    input#icla_signature_company {
      @include span-columns(4);
    }

    input#icla_signature_phone {
      @include span-columns(3);
    }

    input#icla_signature_email {
      @include span-columns(5);
    }

    // Row 3
    input#icla_signature_address_line_1 {
      @include span-columns(12);
    }

    // Row 4
    input#icla_signature_address_line_2 {
      @include span-columns(12);
    }

    // Row 5
    input#icla_signature_city {
      @include span-columns(3);
    }

    input#icla_signature_state {
      @include span-columns(3);
    }

    input#icla_signature_zip {
      @include span-columns(2);
    }

    input#icla_signature_country {
      @include span-columns(4);
    }

    // Row 6
    .agreement {
      fieldset {
        @include span-columns(1);
      }

      p {
        @include span-columns(11);
      }
    }
  }
}
