form.new_icla_signature {
  background-color: white;
  border: 1px solid $secondary-blue;
  margin: 2em;
  padding: 3em;

  > h1 {
    color: white;
    background-color: $secondary-blue;
    font-size: 125%;
    padding: 1em;
    padding-left: 43px;
    margin: -2.4em;
    margin-bottom: 1em;
    position: relative;

    &:before {
      content: "\f15c"; // icon-file-text
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      font-size: 18px;
      padding-right: 0.5em;
      position: absolute;
      top: 23px;
      left: 16px;
    }
  }


  header, section {
    text-align: justify;

    h1, h2, h3, h4, h5, h6 {
      text-align: center;
      text-transform: none;
    }

    .about {
      background-color: lighten($secondary-blue, 33%);
      border: 1px solid lighten($secondary-blue, 15%);
      padding: 1em;
      text-align: left;
    }

    p, li {
      line-height: 1.5;
    }
  }

  .error-messages {
    background-color: lighten($secondary-red, 65%);
    border: 1px solid lighten($secondary-red, 55%);
    padding: 1em;
    margin-bottom: 1em;

    ul li {
      line-height: 1.5;
    }
  }

  #{$all-text-inputs} {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid;
    font: inherit;
    margin-bottom: 0.5em;

    &.error {
      background-color: lighten($secondary-red, 65%);
      border-bottom: 1px solid lighten($secondary-red, 20%);
    }

    // For polyfill
    &.placeholder {
      color: #a9a9a9;
    }
  }

  label.error {
    background-color: lighten($secondary-red, 65%);
    color: lighten($secondary-red, 20%);
    padding: 0.25em;
  }

  fieldset {
    border: none;
  }

  fieldset.name {
    #icla_signature_prefix, #icla_signature_suffix {
      @include span-columns(1);
      margin-right: 0.5em;
    }

    #icla_signature_first_name, #icla_signature_last_name, #icla_signature_middle_name {
      @include span-columns(3);
      margin-right: 0.5em;
    }
  }

  fieldset.contact {
    input {
      @include span-columns(4);
    }
  }

  fieldset.address {
    #icla_signature_address_line_1, #icla_signature_address_line_2 {
      @include span-columns(12);
    }


    input {
      @include span-columns(3);
    }
  }

  fieldset.end {
    padding: 12px 0;

    .agreement {
      font-family: $gotham;
      font-size: 150%;
      margin-right: 3em;
    }

    input[type=checkbox] {
      margin-bottom: 7px;
      vertical-align: middle;
    }

    input[type=submit] {
      @include button($primary-orange);
      float: right;
    }
  }

  footer {
    color: #ccc;
    text-align: right;
  }
}
